//- section.about-section.team-seaction
//-   .container
//-     h2.title.section-title.team-seaction__title Команда
//-     .team-seaction__row
//-       .team
//-         .team__inner
//-           .team__item
//-             .team-card.picture(data-src="assets/images/content/about/team-1.jpg").js-lazy
//-               .team-card__inner
//-                 .team-card__head
//-                   span.team-card__title Salma Fonseca
//-                   span.team-card__title Frontend Developer
//-                 .team-card__bottom
//-                   .skills.team-card__skills
//-                     .skills__inner
//-                       .skills__item
//-                         .skills__circle
//-                           .ldBar(data-value="71" data-preset="circle" data-img-size="55,55")
//-                         .skills__label
//-                           span React
//-                       .skills__item
//-                         .skills__circle
//-                           .ldBar(data-value="94" data-preset="circle")
//-                         .skills__label
//-                           span JavaScript
//-                       .skills__item
//-                         .skills__circle
//-                           .ldBar(data-value="71" data-preset="circle")
//-                         .skills__label
//-                           span React
//-           .team__item
//-             .team-card.picture(data-src="assets/images/content/about/team-2.jpg").js-lazy
//-               .team-card__inner
//-                 .team-card__head
//-                   span.team-card__title Débora Barbosa
//-                   span.team-card__title Project Manager
//-                 .team-card__bottom
//-                   .skills.team-card__skills
//-                     .skills__inner
//-                       .skills__item
//-                         .skills__circle
//-                           .ldBar(data-value="100" data-preset="circle" data-img-size="55,55")
//-                         .skills__label
//-                           span React
//-                       .skills__item
//-                         .skills__circle
//-                           .ldBar(data-value="34" data-preset="circle")
//-                         .skills__label
//-                           span JavaScript
//-                       .skills__item
//-                         .skills__circle
//-                           .ldBar(data-value="71" data-preset="circle")
//-                         .skills__label
//-                           span React
//-           .team__item
//-             .team-card.picture(data-src="assets/images/content/about/team-3.jpg").js-lazy
//-               .team-card__inner
//-                 .team-card__head
//-                   span.team-card__title Gauthier Drewitt
//-                   span.team-card__title Art Director
//-                 .team-card__bottom
//-                   .skills.team-card__skills
//-                     .skills__inner
//-                       .skills__item
//-                         .skills__circle
//-                           .ldBar(data-value="71" data-preset="circle" data-img-size="55,55")
//-                         .skills__label
//-                           span React
//-                       .skills__item
//-                         .skills__circle
//-                           .ldBar(data-value="94" data-preset="circle")
//-                         .skills__label
//-                           span JavaScript
//-                       .skills__item
//-                         .skills__circle
//-                           .ldBar(data-value="71" data-preset="circle")
//-                         .skills__label
//-                           span React       
//-           .team__item
//-             .team-card.picture(data-src="assets/images/content/about/team-4.jpg").js-lazy
//-               .team-card__inner
//-                 .team-card__head
//-                   span.team-card__title Kay Totleben
//-                   span.team-card__title Project Manager
//-                 .team-card__bottom
//-                   .skills.team-card__skills
//-                     .skills__inner
//-                       .skills__item
//-                         .skills__circle
//-                           .ldBar(data-value="71" data-preset="circle" data-img-size="55,55")
//-                         .skills__label
//-                           span React
//-                       .skills__item
//-                         .skills__circle
//-                           .ldBar(data-value="94" data-preset="circle")
//-                         .skills__label
//-                           span JavaScript
//-                       .skills__item
//-                         .skills__circle
//-                           .ldBar(data-value="71" data-preset="circle")
//-                         .skills__label
//-                           span React
//-           .team__item
//-             .team-card.picture(data-src="assets/images/content/about/team-5.jpg").js-lazy
//-               .team-card__inner
//-                 .team-card__head
//-                   span.team-card__title Martina Brito
//-                   span.team-card__title Art Director
//-                 .team-card__bottom
//-                   .skills.team-card__skills
//-                     .skills__inner
//-                       .skills__item
//-                         .skills__circle
//-                           .ldBar(data-value="71" data-preset="circle" data-img-size="55,55")
//-                         .skills__label
//-                           span React
//-                       .skills__item
//-                         .skills__circle
//-                           .ldBar(data-value="94" data-preset="circle")
//-                         .skills__label
//-                           span JavaScript
//-                       .skills__item
//-                         .skills__circle
//-                           .ldBar(data-value="71" data-preset="circle")
//-                         .skills__label
//-                           span React