.team-seaction {
  padding-bottom: 0;
  @include media-breakpoint-down(mobile) {
    padding-top: 66px;
  }
  &__title {
    transform: translateY(-29px);
    @include media-breakpoint-down(tablet) {
      transform: translateY(0);
    }
  }
  &__row {
    margin-top: 13px;
    @include media-breakpoint-down(mobile) {
      margin-top: 24px;
    }
  }
}

.team {  
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    @include media-breakpoint-down(mobile) {
      margin: 0 -5px;
    }
  }
  &__item {
    width: calc(33% - 20px);
    margin: 10px;
    max-height: 480px;
    overflow: hidden;
    @include media-breakpoint-down(tablet) {
      margin-bottom: 113px;
      overflow: visible;
    }
    @include media-breakpoint-down(mobile) {
      width: calc(50% - 10px);
      margin: 5px;
      margin-bottom: 109px;
    }
  }
}

.team-card {
  padding-top: 117.44%;
  position: relative;
  cursor: pointer;
  background-color: $light-gray;
  .is-dark & {
    background-color: $lblack;
  }
  @include media-breakpoint-down(tablet) {
    padding-top: 0;
    overflow: visible;
    padding-top: 105.44%;
  }
  &__inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
    @include media-breakpoint-down(tablet) {
      padding: 20px;
    }
    @include media-breakpoint-down(tablet) {
    
      
      position: static;
    }
  }
  &__head {
    @include media-breakpoint-down(tablet) {
      position: absolute;
      top: calc(100% + 20px);
      left: 0;
    }
  }
  &__title {
    color: $white;
    display: block;
    @include media-breakpoint-down(tablet) {
      color: $gray;
    }
    &:first-child {
      font-size: 22px;
      margin-bottom: 18px;
      font-family: 'Oswald', sans-serif;
      @include media-breakpoint-down(tablet) {
        font-size: 16px;
        color: $black;
        .is-dark & {
          color: $white;
        }
      }
      @include media-breakpoint-down(mobile) {
        margin-bottom: 8px;
      }
    }
    @include media-breakpoint-down(tablet) {
      color: $gray;
    }
  }
  &__bottom {
    position: absolute;
    top: calc(100% - 150px);
    overflow: hidden;
    @include media-breakpoint-down(tablet) {
      display: none;
    }
  }
  &__skills {
    transition: transform 0.3s ease;
    transform: translateY(200px);
  }
  @include hover() {
    .team-card__skills {
      transform: translateY(0);
    }
  }
}

.skills {
  color: $white;
  
  &__inner {
    display: flex;
    margin: 0 -25px;
    @include media-breakpoint-down(tablet) {
      margin: 0 -10px;
      flex-wrap: wrap;
    }
  }
  &__item {
    margin: 25px;
    @include media-breakpoint-down(tablet) {
      margin: 10px;
    }
  }
  &__circle {
    position: relative;
    width: 55px;
    height: 55px;
    margin: 0 auto;
    @include media-breakpoint-down(tablet) {
      width: 40px;
      height: 40px;
    }
  }
  &__label {
    text-align: center;
  }
}

.ldBar {
  width: 55px !important;
  height: 55px !important;
}

.ldBar path.mainline {
  stroke-width: 2;
  stroke: $red;
  stroke-linecap: round;
}

.ldBar path.baseline {
  stroke-width: 2;
  stroke: transparent;
}

.ldBar-label {
  position: absolute;
  top: 21px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
}