.up-button-section
  .container
    .up-button-section__inner
      a(href="#").up-button.js-up-button
        .up-button__wrap
          div.up-button__icon-holder
            span.arrow-up.up-button__icon
              <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.39 19.29">
                <title>Untitled-1</title>
                <g id="Trash" class="arrow-up__head arrow-up__part">
                <g id="Logo-Copy-12">
                <g id="ic_arrow_right-copy" data-name="ic arrow right-copy">
                <g id="Shape">
                <path class="cls-1" d="M169.73,487.3l4.52,4.94,1.71,1.82-1.71,1.83-4.45,4.9a1.77,1.77,0,0,0,0,2.43,1.58,1.58,0,0,0,2.22,0l.08-.08,8.23-9.11-8.3-9.15a1.6,1.6,0,0,0-2.22-.12.6.6,0,0,0-.08.08A1.77,1.77,0,0,0,169.73,487.3Z" transform="translate(-145.99 -484.4)"/>
                </g>
                  </g></g>
                </g>
                  <g id="Trash-2" data-name="Trash" class="arrow-up__axis arrow-up__part">
                  <g id="Logo-Copy-12-2" data-name="Logo-Copy-12"><g id="ic_arrow_right-copy-2" data-name="ic arrow right-copy">
                  <g id="Shape-2" data-name="Shape"><path class="cls-1" d="M174.39,492.23c-4,0-24.17,0-26.58,0a1.83,1.83,0,0,0,0,3.65l26.58,0C176.68,495.86,176.68,492.23,174.39,492.23Z" transform="translate(-145.99 -484.4)"/>
                </g>
                </g>
                </g>
                </g>
              </svg>
          span.up-button__text Наверх