.school {
  padding: 40px 0;
  &__row {
    margin-top: 32px;
  }
  &__gallery {
    
  }
}

.school-gallery {
  &__inner {
    display: flex;
    margin: 0 -10px;
    @include media-breakpoint-down(mobile) {
      margin: auto;
      padding-bottom: 20px;
    }
  }
  &__item {
    // padding-top: 25.74%;
    margin: 10px;
    width: calc(33.75% - 20px);
    @include media-breakpoint-down(mobile) {
      flex-shrink: 0;
      min-height: 350px;
      margin: auto;
    }
  }
  &__image {
    padding-top: 81.01%;
    @include media-breakpoint-down(mobile) {
      min-height: 350px;
    }
  }
}