section.corp-portals-features
  .container
    h2.title.section-title.section-title--corp-portals Какие еще возможности открывают корпоративные порталы?
    ul.corp-portals-features__list
      li.corp-portals-features__item
        .corp-portals-features__icon
          +svg('calendar')
        p.corp-portals-features__name Общий календарь <br>для всех сотрудников
      li.corp-portals-features__item
        .corp-portals-features__icon
          +svg('teamwork')
        p.corp-portals-features__name Внутренняя <br>социальная сеть
      li.corp-portals-features__item
        .corp-portals-features__icon
          +svg('settings')
        p.corp-portals-features__name Автоматизация <br>бизнес-процессов
      li.corp-portals-features__item
        .corp-portals-features__icon
          +svg('clipboard')
        p.corp-portals-features__name Упрощение <br>рутинных задач
      li.corp-portals-features__item
        .corp-portals-features__icon
          +svg('connection')
        p.corp-portals-features__name Облегчение <br>документооборота
      li.corp-portals-features__item
        .corp-portals-features__icon
          +svg('database')
        p.corp-portals-features__name Создание корпоративной <br>базы знаний
      li.corp-portals-features__item
        .corp-portals-features__icon
          +svg('clock')
        p.corp-portals-features__name Снижение временных <br>потерь
      li.corp-portals-features__item
        .corp-portals-features__icon
          +svg('line-chart')
        p.corp-portals-features__name Внедрение <br>системы KPI