section.page-section.contacts#contacts
  .container
    h2.title.section-title Контакты
    .contacts__inner
      .contacts__map-holder.js-map
        .contacts__map-overlay
          .contact-info
            .contact-info__row
              span.title.contact-info__title email
              a(href="mailto:hello@hawkingbrothers.com").contact-info__link hello@hawkingbros.com
            .contact-info__row
              span.title.contact-info__title телефон
              a(href="tel:+79036454125").contact-info__link.contact-info__phone +7 903 645-41-25
            .contact-info__row
              span.title.contact-info__title соцсети
              a(href="https://www.facebook.com/hawkingbrothers/" target="_blank").contact-info__link Facebook
            .contact-info__row
              span.title.contact-info__title адреса офисов
              span.contact-info__text.contact-info__city.contact-info__text--red.js-contact-info-radio-text г. Москва
              span.contact-info__text.contact-info__text--small Ленинская Слобода, 19
            .contact-info__row
              span.contact-info__text.contact-info__city.js-contact-info-radio-text г. Владимир
              span.contact-info__text.contact-info__text--small Б. Московская, д. 11, 3 этаж
            .contact-info__row
              .button.contact-info__button.js-open-contact-form Написать нам
        .map.contacts__map
          //.map__close.js-close-map
            +svg('cross')
      .contacts__form-holder.js-form-holder
        div.contacts__form-wrap
          .contact-form__succes-message.js-form-succes
            .contact-form__succes-inner
              span.title Форма успешно отправлена.
          form(name="sendmail").contact-form.js-contact-form
            .contact-form__row
              span.title.contact-form__title Свяжитесь с нами
              .contact-form__close.js-close-contact-form
            .contact-form__row.contact-form__row--name
              input.contact-form__input.contact-form__field.js-input(type="text" name="name" id="name" required).js-input-name
              .contact-form__fill-line
              label(for="name").contact-form__label.js-form-label Как к вам обращаться?
            .contact-form__row
              label(for="phone").contact-form__label.js-form-label Телефон
              input.contact-form__input.contact-form__field.js-input(type="tel" name="phone" id="phone" required).js-phone.customPhone
              .contact-form__fill-line
            .contact-form__row
              label(for="email").contact-form__label.js-form-label Электропочта
              input.contact-form__input.contact-form__field.js-input(type="email" name="email" id="email" required).customEmail
              .contact-form__fill-line
            .contact-form__row.contact-form__flags
              input(type='radio' id="digital" name='form' checked).contact-form__checkbox
              label.contact-form__checkbox-label(for="digital") Digital-разработка
              input(type='radio' id="up-team" name='form').contact-form__checkbox
              label.contact-form__checkbox-label(for="up-team") Усиление команды
            .contact-form__row.contact-form__row--message
              label(for="message").contact-form__label.js-form-label Опишите вашу задачу
              textarea(name="message" id="message").contact-form__input.contact-form__field.contact-form__input--textarea.contact-form__input--textarea_scroll.js-input
                
              .contact-form__fill-line
            .contact-form__row.contact-form__row--button
              button(type="submit").contact-form__input.button Отправить
            .contact-form__row.contact-form__row--terms
              span.contact-form__terms Нажимая "Отправить" Вы соглашаетесь с&nbsp;
              a(href="sogl.pdf" target="_blank").link--privacy Политикой обработки персональных данных
            .form-error-container
            input(type="text" name="person").contact-form__person.js-input-person
