.contacts {
  padding: 68px 0 50px;

  @include media-breakpoint-down(mobile) {
    padding-top: 34px;
    padding-bottom: 0;
  }

  &__inner {
    display: flex;
    margin-top: 49px;
    position: relative;

    @include media-breakpoint-up(desktop) {
      min-height: 675px;
    }

    @include media-breakpoint-down(mobile) {
      margin-top: 0;
    }
  }

  &__map {
    width: 100%;
    height: 100%;
    @include media-breakpoint-down(tablet){
      height: 449px;
    }
    &-holder {
      width: 100%;
      max-width: 820px;
      margin-right: 20px;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
     /* @include media-breakpoint-up(desktop) {
        min-height: 500px;
      }*/

      @include media-breakpoint-down(tablet) {
        margin: 0;
        max-width: 100%;
      }
    }

    &-overlay {
      position: relative;
      flex-shrink: 0;
      @include media-breakpoint-down(mobile) {
        padding: 28px 0 20px;
      }
    }
  }

  &__form-holder {
    @include media-breakpoint-down(tablet) {
      background-color: $light-gray;
      padding: 0 40px;
      min-height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .is-dark & {
        background-color: $lblack;
      }
    }

    @include media-breakpoint-down(tablet) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      // bottom: 0;
      left: 0;
      /* display: none; */
      z-index: 9999999;
      padding: 0;
      display: none;
      overflow: hidden;

      &.is-active {
        display: block;
      }

    }
  }

  &__form-wrap {
    display: inline-block;
    position: relative;
    height: 100%;

    @include media-breakpoint-down(tabletlg) {
      display: flex;
      overflow: auto;
      align-items: center;
      // -webkit-overflow-scrolling: touch;
    }
  }

  &--corp-portals {
    padding-top: 50px;
    padding-bottom: 30px;

    & .contacts {
      &__subtitle-corp {
        margin-top: 20px;
        font-family: 'Oswald', sans-serif;
        font-size: 22px;
        @include media-breakpoint-down(mobile) {
          font-size: 18px;
        }
      }

      &__inner {
        @include media-breakpoint-up(desktop) {
          min-height: 544px;
        }
      }

      &__map-holder {
        margin-right: 0;
        margin-left: 20px;

        @include media-breakpoint-up(desktop) {
          min-height: 544px;
        }

        @include media-breakpoint-down(tablet) {
          margin-left: 0;
        }
      }
    }

    & .contact-form {
      height: 100%;
      @include media-breakpoint-up(desktop) {
        &__row {
          margin-top: 37px;

          &--name {
            margin-top: 18px;
          }

          &--terms {
            margin-top: 20px;
            line-height: 25px;
          }

          &--button {
            margin-top: 30px;
          }
        }
      }
      @include media-breakpoint-down(tablet) {
        height: auto;
      }

      & .button {
        font-family: 'Roboto Condensed', sans-serif;
      }
    }

    & .contact-info {
      &__row {
        &:not(:first-child) {
          @include media-breakpoint-up(desktop) {
            margin-top: 40px;
          }
        }

        &--write-us {
          &:not(:first-child) {
            @include media-breakpoint-up(desktop) {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

.contact-form {
  max-width: 500px;
  width: 100%;
  // height: 100%;
  background-color: $light-gray;
  padding: 50px;
  position: relative;
  overflow: hidden;

  .is-dark & {
    background-color: $lblack;
  }

  @include media-breakpoint-down(tablet) {
    width: 500px;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    // height: 80%;
  }

  @include media-breakpoint-down(mobile) {
    width: 100%;


  }

  &__title {
    font-size: 22px;

    .is-dark & {
      color: $light-gray;
    }

    @include media-breakpoint-down(tablet) {
      font-size: 26px;
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    visibility: hidden;

    &:checked + &-label {
      background: #303030;
      color: #fff;
      .is-dark &{
        color: #303030;
        background: #fff;
      }
    }
    &-label {
      color: #303030;
      border: 1px solid #303030;
      padding: 10px;
      margin-right: 10px;
      border-radius: 20px;
      cursor: pointer;
      text-align: center;
      .is-dark &{
        color: #fff;
        border-color: #909090;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__flags {
    display: flex;
    align-items: center;
    margin-top: 28px!important;
  }

  &__row {
    position: relative;
    overflow: visible;
    margin-top: 40px;

    &:first-child {
      margin-top: 0;

      .contact-form--career & {
        @include media-breakpoint-down(mobile) {
          padding-right: 25px;
        }
      }
    }

    &--message {
      position: relative;
    }

    &--button {
      margin-top: 30px;
    }

    &--terms {
      margin-top: 20px;
    }
  }

  &__succes-message {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    font-size: 24px;
    z-index: 500;
    opacity: 0;
    background-color: $light-gray;
    display: none;

    .is-active & {
      position: fixed;
    }

    .is-dark & {
      background-color: $lblack;
    }
  }

  &__succes-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__close {
    font-size: 23px;
    width: 23px;
    height: 23px;
    display: none;
    cursor: pointer;
    position: absolute;
    z-index: 3;

    &::before {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      top: 40%;
      left: 0;
      transform-origin: 50% 50%;
      background-color: $black;
      transform: rotate(45deg);
    }

    &::after {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      top: 40%;
      left: 0;
      transform-origin: 50% 50%;
      background-color: $black;
      transform: rotate(-45deg);
    }

    .is-dark & {
      &::before {
        background-color: $white;
      }

      &::after {
        background-color: $white;
      }
    }

    @include media-breakpoint-down(tablet) {
      display: block;
    }

    @include media-breakpoint-down(tabletlg) {
      top: 13px;
      right: -1px;

      .career-contact-form-holder & {
        top: 42px;
      }
    }
  }

  &__label {
    color: $gray;
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.3s, top 0.3s ease-in-out;
    cursor: text;
  }

  &__field {

    caret-color: $red;
    margin-bottom: 2px;

    .is-dark & {
      color: $white;
    }

    &::placeholder {
      color: $gray;
    }
  }

  &__input {
    background: none;
    border: none;
    border-bottom: 2px solid $gray;
    width: 100%;
    padding-bottom: 10px;
    font-size: 16px;
    color: #303030;
    &--textarea {
      position: relative;
      resize: none;
      padding: 0;
      height: 67px;
      margin-bottom: -2px;

      .browser-ie & {
        height: 70px;
      }
    }
  }

  &__terms {
    line-height: 25px;
  }

  &__fill-line {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 4px);
    height: 2px;
    width: 0;
    background-color: $black;
    transition: width 0.3s ease-in-out;

    .is-dark & {
      background-color: $light-gray;
    }

    .contact-form__row--message & {
      top: initial;
      bottom: 0;
      left: 0;
      right: 0;

      .browser-ie & {
        top: calc(100% - 0px);
      }

    }

    .contact-form__row--select & {
      top: calc(100% - 2px);
    }

    .contact-form__field:focus + & {
      width: 100%;
    }

    .select2-container--open + & {
      width: 100%;
    }

    .error + & {
      width: 100%;
      background-color: $red;
    }

    .valid + & {
      background-color: $black;
    }

    .is-dark .valid + & {
      background-color: $light-gray;
    }

    &.select-error {
      width: 100%;
      background-color: $red;
    }
  }

  &__select {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
    left: -9999px;
  }

  &__person {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    left: -99999px;
  }
}

.is-up {
  transform: translateY(-20px) scale(.78) translateX(-15%);
}

.button {
  background: none;
  border: 2px solid $gray;
  padding: 1em 0.2em;
  font-size: 16px;
  max-height: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

  .is-dark & {
    color: $white;

    @include hover() {
      background-color: $light-gray;
      color: $lblack;
    }
  }

  @include hover() {
    background-color: $lblack;
    color: $light-gray;
  }
}


.error-line {
  width: 100%;
  height: 1px;
  background-color: $red;
  position: absolute;
  left: 0;
  top: 93%;

  .contact-form__field:focus & + {
    display: none;
  }
}

#email-error,
#name-error {
  display: none !important;
}

.map {
  width: 100%;
  //height: 100%;
  //background-color: $light-gray;

  // filter: grayscale(90%);
  /* &__close {
     position: absolute;
     left: calc(100% - 100px);
     top: 50px;
     border: 2px solid $gray;
     width: 50px;
     height: 50px;
     z-index: 99;
     cursor: pointer;
     font-size: 30px;
     text-align: center;
     background-color: $light-gray;
     visibility: hidden;
     transition: visibility 0.3s ease-in-out;
     @include media-breakpoint-down(tablet){
       right: 20px;
       top: 30px;
       left: initial;
     }
     svg {
       margin-top: 8px;
       vertical-align: middle;
     }

     .is-active & {
       visibility: visible;
     }
   }*/
}

// .ymaps-2-1-75-map {
//   width: 100% !important;
//   height: 100% !important;
// }

ymaps[class*='svg-icon'] {
  color: $red;
}


.contact-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  &__row {
    margin: 0 80px 40px 0;
    width: calc(33.333% - 80px);
    @media screen and (min-width: 768px) and (max-width: 1240px){
      width: calc(50% - 80px);
      &:nth-child(3){
        order: 4;
      }
      &:nth-child(4){
        order: 5;
      }
      &:nth-child(6){
        order: 4;
      }
      &:nth-child(5){
       order: 6;
      }
    }
    @include media-breakpoint-down(mobile){
      width: 100%;
      margin-right: 0;
    }
   /* &:last-child {
      @include media-breakpoint-down(mobile) {
        margin-top: 48px;
      }
    }*/
  }

  &__title {
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    display: block;
    margin-bottom: 8px;
    color: #909090;
  }
  &__city{
    transition: .3s color ease-in-out;
    @include hover{
      &:not(.contact-info__text--red){
        cursor: pointer;
        color: $red;
      }
    }
  }
  &__text {
    display: block;
    font-size: 22px;
    color: #303030;
    white-space: nowrap;
    font-family: 'Oswald', sans-serif;
    &--small{
      margin-top: 8px;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 16px;
    }
    &--red{
      color: $red!important;
    }
    .is-dark &{
      color: #fafafa;
    }

  }

  &__link {
    font-size: 22px;
    color: #303030;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    transition: .3s color ease-in-out;
    @include hover(){
      color: $red;
    }
    .is-dark &{
      color: #fafafa;
      @include hover(){
        color: $red;
      }
    }
  }

  &__button {
    width: 100%;
    text-align: center;
    background-color: $light-gray;
    display: none;
    @include media-breakpoint-up(tablet){
      max-width: 334px;
    }
    @include media-breakpoint-down(tablet) {
      display: block;
    }

    .is-dark & {
      background-color: transparent;
    }
  }
}

.link--privacy {
  color: $red;
  transition: background-size 0.3s ease;
  background-image: linear-gradient(to right, $red, $red);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: 0 18px;

  .footer & {
    background-position: 0 22px;
  }

  @include hover() {
    background-size: 100% 1px;
  }
}

.form-error-container {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

// select 2

.select2 {
  width: 100% !important;
  min-height: 25px !important;
  display: block;
  padding-bottom: 7px;
  border-bottom: 1px solid $gray;
  position: relative;

  &::after {
    content: '';
    background-image: url('../assets/images/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: -1px;
    transition: transform 0.3s ease-in-out;
  }
}

.contact-form .select2-container--open {
  &::after {
    transform: rotateX(180deg);
  }

}

.contacts .select2-selection__placeholder {
  color: $gray;
}


.select2 .select2-selection {
  display: block;
  width: 100%;
  position: relative;
  z-index: 100;
  min-height: 20px;
}

.contacts .select2-container--open .select2-selection__arrow {
  transform: rotateX(180deg);
}

.select2-container .select2-results__options {
  background: $white;
  color: $black;
  padding: 10px;
  border: 1px solid $gray;
  overflow-y: hidden;
  position: absolute;
  width: 100%;
  max-height: 300px;

  @include media-breakpoint-down(tabletlg) {
    max-height: 150px;

    z-index: 100;
  }
}

.select2-search {
  display: none;
}

.select2 .select2-results__options {
  width: 100%;
}

.select2-container--open {
  width: 100%;
  z-index: 99;
}

.select2-results__option {
  cursor: pointer;
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
}

.select2-selection__choice {
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select2-selection__choice__remove {
  display: none;
}

.select2-results__option {
  display: block;
  position: relative;
  padding-left: 30px;

  &::before {
    content: '';
    position: absolute;
    border: 2px solid $black;
    border-top: none;
    border-right: none;
    height: 10px;
    width: 20px;
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
    top: 0;
    left: 0;
    opacity: 0;
  }

  &[aria-selected="true"] {
    &::before {
      border-color: $red;
      opacity: 1;
    }
  }
}

.select2-selection__choice {
  display: inline;

  &::after {
    content: ',';
    margin-right: 0.2em;
  }

  &:nth-last-child(2) {
    &::after {
      content: none;
    }
  }

}

// .select2-selection--single {
//   overflow: hidden;
//   text-overflow: ellipse;
// }

.select2-selection__rendered {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 95%;
  position: absolute;
}

.ps__thumb-y,
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:active > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
  width: 2px;
  background-color: $red;
}

.ps__thumb-y {
  .nav-menu__inner & {
    right: 0;
    width: 5px !important;
    border-radius: 6px;
  }
}

.ps__rail-y {
  width: 2px;
  background-color: rgba(0, 0, 0, 0.2) !important;

  .is-dark & {
    background-color: rgba(255, 255, 255, 0.2) !important;
  }

  .nav-menu__inner & {
    right: 1px !important;
    width: 5px !important;
    border-radius: 6px;
  }
}

.ps__rail-y,
.ps__rail-y:hover,
.ps__rail-y:active,
.ps__rail-y:focus {
  opacity: 1 !important;
}


[class*=ymaps-2][class*=-ground-pane] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%)
}

@-moz-document url-prefix() {
  .contact-form__row--message .contact-form__fill-line {
    bottom: -2px;
  }

}

.link--privacy_border-b {
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: $red;
  right: 100%;
  height: 1px;
  transition: all .3s ease;
}

.browser-ie {
  & .contact-form__input--textarea_scroll {
    // width: 102% !important;
    // margin-right: -15px !important;
  }

  & .link--privacy {
    position: relative;
    background-image: none;
  }

  & .link--privacy:hover .link--privacy_border-b {
    right: 0;
  }
}


.browser-edge .contacts__inner .contact-form__row--message .contact-form__fill-line {
  bottom: -2px;
}


.contact-form__input--textarea_scroll {
  padding-right: 3px;

  & > .scroll-element,
  & > .scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
  }

  & > .scroll-element {
    background-color: transparent;
  }

  & > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }


  & > .scroll-element.scroll-y {
    height: 100%;
    right: -3px;
    top: 0;
    width: 18px;
    background-color: transparent;

    .is-dark & {
      background-color: $lblack;
    }
  }

  & > .scroll-element.scroll-y .scroll-element_outer {
    left: 12px;
    width: 2px;

  }

  & > .scroll-element .scroll-element_outer {
    overflow: hidden;
  }

  & > .scroll-element .scroll-element_track {
    background-color: rgba(0, 0, 0, 0.08);
  }

  & > .scroll-element .scroll-element_outer,
  & > .scroll-element .scroll-element_track,
  & > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }

  & > .scroll-element .scroll-bar {
    background-color: $red;
  }

  & > .scroll-element .scroll-bar:hover {
    background-color: $red;
  }

  & > .scroll-element.scroll-draggable .scroll-bar {
    background-color: $red;
  }


  /* scrollbar height/width & offset from container borders */

  & > .scroll-content.scroll-scrolly_visible {
    left: -12px;
    margin-left: 12px;
  }

  & > .scroll-element.scroll-y .scroll-bar {
    min-height: 10px;
  }


  /* update scrollbar offset if both scrolls are visible */

  & > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
    top: -14px;
  }

  & > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -14px;
  }
}
.ymaps{

}
