/**
 * SVG Icons Styles
 */

.icon {
	display: inline-block;
	//font-size: 10px;
}

.Right {
	width:(16/9)*1em;
	height:1em;
}
.Right-h {
	width:(16/9)*1em;
	height:1em;
}
.Right-w {
	width:1em;
	height:(9/16)*1em;
}
.arr-right-axis {
	width:(31/5)*1em;
	height:1em;
}
.arr-right-axis-h {
	width:(31/5)*1em;
	height:1em;
}
.arr-right-axis-w {
	width:1em;
	height:(5/31)*1em;
}
.arr-right-head {
	width:(36/20)*1em;
	height:1em;
}
.arr-right-head-h {
	width:(36/20)*1em;
	height:1em;
}
.arr-right-head-w {
	width:1em;
	height:(20/36)*1em;
}
.arrow-left {
	width:(35/20)*1em;
	height:1em;
}
.arrow-left-h {
	width:(35/20)*1em;
	height:1em;
}
.arrow-left-w {
	width:1em;
	height:(20/35)*1em;
}
.arrow-right {
	width:(34.39/19.29)*1em;
	height:1em;
}
.arrow-right-h {
	width:(34.39/19.29)*1em;
	height:1em;
}
.arrow-right-w {
	width:1em;
	height:(19.29/34.39)*1em;
}
.arrow-up {
	width:(11/19)*1em;
	height:1em;
}
.arrow-up-h {
	width:(11/19)*1em;
	height:1em;
}
.arrow-up-w {
	width:1em;
	height:(19/11)*1em;
}
.bitrix24 {
	width:(202/202)*1em;
	height:1em;
}
.bitrix24-h {
	width:(202/202)*1em;
	height:1em;
}
.bitrix24-w {
	width:1em;
	height:(202/202)*1em;
}
.calendar {
	width:(66/64)*1em;
	height:1em;
}
.calendar-h {
	width:(66/64)*1em;
	height:1em;
}
.calendar-w {
	width:1em;
	height:(64/66)*1em;
}
.clipboard {
	width:(48/64)*1em;
	height:1em;
}
.clipboard-h {
	width:(48/64)*1em;
	height:1em;
}
.clipboard-w {
	width:1em;
	height:(64/48)*1em;
}
.clock {
	width:(64/64)*1em;
	height:1em;
}
.clock-h {
	width:(64/64)*1em;
	height:1em;
}
.clock-w {
	width:1em;
	height:(64/64)*1em;
}
.connection {
	width:(65/64)*1em;
	height:1em;
}
.connection-h {
	width:(65/64)*1em;
	height:1em;
}
.connection-w {
	width:1em;
	height:(64/65)*1em;
}
.cross {
	width:(47.97/47.97)*1em;
	height:1em;
}
.cross-h {
	width:(47.97/47.97)*1em;
	height:1em;
}
.cross-w {
	width:1em;
	height:(47.97/47.97)*1em;
}
.database {
	width:(47/64)*1em;
	height:1em;
}
.database-h {
	width:(47/64)*1em;
	height:1em;
}
.database-w {
	width:1em;
	height:(64/47)*1em;
}
.day-mode {
	width:(32/31)*1em;
	height:1em;
}
.day-mode-h {
	width:(32/31)*1em;
	height:1em;
}
.day-mode-w {
	width:1em;
	height:(31/32)*1em;
}
.frameworks {
	width:(202/202)*1em;
	height:1em;
}
.frameworks-h {
	width:(202/202)*1em;
	height:1em;
}
.frameworks-w {
	width:1em;
	height:(202/202)*1em;
}
.gold-partner {
	width:(45/33)*1em;
	height:1em;
}
.gold-partner-h {
	width:(45/33)*1em;
	height:1em;
}
.gold-partner-w {
	width:1em;
	height:(33/45)*1em;
}
.icon-bird {
	width:(42/40)*1em;
	height:1em;
}
.icon-bird-h {
	width:(42/40)*1em;
	height:1em;
}
.icon-bird-w {
	width:1em;
	height:(40/42)*1em;
}
.icon-branding {
	width:(39/41)*1em;
	height:1em;
}
.icon-branding-h {
	width:(39/41)*1em;
	height:1em;
}
.icon-branding-w {
	width:1em;
	height:(41/39)*1em;
}
.icon-development {
	width:(46/33)*1em;
	height:1em;
}
.icon-development-h {
	width:(46/33)*1em;
	height:1em;
}
.icon-development-w {
	width:1em;
	height:(33/46)*1em;
}
.icon-front {
	width:(46/33)*1em;
	height:1em;
}
.icon-front-h {
	width:(46/33)*1em;
	height:1em;
}
.icon-front-w {
	width:1em;
	height:(33/46)*1em;
}
.icon-illustration {
	width:(19/31)*1em;
	height:1em;
}
.icon-illustration-h {
	width:(19/31)*1em;
	height:1em;
}
.icon-illustration-w {
	width:1em;
	height:(31/19)*1em;
}
.icon-prototyping {
	width:(54/14)*1em;
	height:1em;
}
.icon-prototyping-h {
	width:(54/14)*1em;
	height:1em;
}
.icon-prototyping-w {
	width:1em;
	height:(14/54)*1em;
}
.icon-school {
	width:(46/23)*1em;
	height:1em;
}
.icon-school-h {
	width:(46/23)*1em;
	height:1em;
}
.icon-school-w {
	width:1em;
	height:(23/46)*1em;
}
.icon-user {
	width:(43/38)*1em;
	height:1em;
}
.icon-user-h {
	width:(43/38)*1em;
	height:1em;
}
.icon-user-w {
	width:1em;
	height:(38/43)*1em;
}
.icon-webdesign {
	width:(72/32)*1em;
	height:1em;
}
.icon-webdesign-h {
	width:(72/32)*1em;
	height:1em;
}
.icon-webdesign-w {
	width:1em;
	height:(32/72)*1em;
}
.line-chart {
	width:(64/64)*1em;
	height:1em;
}
.line-chart-h {
	width:(64/64)*1em;
	height:1em;
}
.line-chart-w {
	width:1em;
	height:(64/64)*1em;
}
.link {
	width:(13/13)*1em;
	height:1em;
}
.link-h {
	width:(13/13)*1em;
	height:1em;
}
.link-w {
	width:1em;
	height:(13/13)*1em;
}
.logo {
	width:(178/50)*1em;
	height:1em;
}
.logo-h {
	width:(178/50)*1em;
	height:1em;
}
.logo-w {
	width:1em;
	height:(50/178)*1em;
}
.logo_en {
	width:(178/50.61)*1em;
	height:1em;
}
.logo_en-h {
	width:(178/50.61)*1em;
	height:1em;
}
.logo_en-w {
	width:1em;
	height:(50.61/178)*1em;
}
.night-mode {
	width:(27/30)*1em;
	height:1em;
}
.night-mode-h {
	width:(27/30)*1em;
	height:1em;
}
.night-mode-w {
	width:1em;
	height:(30/27)*1em;
}
.plus {
	width:(16/16)*1em;
	height:1em;
}
.plus-h {
	width:(16/16)*1em;
	height:1em;
}
.plus-w {
	width:1em;
	height:(16/16)*1em;
}
.recycle {
	width:(1024/1024)*1em;
	height:1em;
}
.recycle-h {
	width:(1024/1024)*1em;
	height:1em;
}
.recycle-w {
	width:1em;
	height:(1024/1024)*1em;
}
.recycle-black {
	width:(1024/1024)*1em;
	height:1em;
}
.recycle-black-h {
	width:(1024/1024)*1em;
	height:1em;
}
.recycle-black-w {
	width:1em;
	height:(1024/1024)*1em;
}
.recycle-white {
	width:(1024/1024)*1em;
	height:1em;
}
.recycle-white-h {
	width:(1024/1024)*1em;
	height:1em;
}
.recycle-white-w {
	width:1em;
	height:(1024/1024)*1em;
}
.refresh {
	width:(21/22)*1em;
	height:1em;
}
.refresh-h {
	width:(21/22)*1em;
	height:1em;
}
.refresh-w {
	width:1em;
	height:(22/21)*1em;
}
.settings {
	width:(65/64)*1em;
	height:1em;
}
.settings-h {
	width:(65/64)*1em;
	height:1em;
}
.settings-w {
	width:1em;
	height:(64/65)*1em;
}
.star {
	width:(24/24)*1em;
	height:1em;
}
.star-h {
	width:(24/24)*1em;
	height:1em;
}
.star-w {
	width:1em;
	height:(24/24)*1em;
}
.teamwork {
	width:(73/64)*1em;
	height:1em;
}
.teamwork-h {
	width:(73/64)*1em;
	height:1em;
}
.teamwork-w {
	width:1em;
	height:(64/73)*1em;
}
