/**
 * SVG Icons Styles
 */

.icon {
	display: inline-block;
	//font-size: 10px;
}

{{#shapes}}
.{{base}} {
	width:({{width.inner}}/{{height.inner}})*1em;
	height:1em;
}
.{{base}}-h {
	width:({{width.inner}}/{{height.inner}})*1em;
	height:1em;
}
.{{base}}-w {
	width:1em;
	height:({{height.inner}}/{{width.inner}})*1em;
}
{{/shapes}}