.page-section.services#services
  .container
    h2.title.section-title Услуги
    .services__inner
      .services__item
        .service-card
          .service-card__inner
            .service-card__top
              h3.title.service-card__title Backend
              .service-card__icon
                +svg('icon-development')
            span.service-card__price от 1 200 руб/час
            .service-card__middle
              p.service-card__descr Разрабатываем надежный бэкенд с&nbsp;использованием современных CMS и&nbsp;Framework. Пишем собственные API и&nbsp;проводим интеграции с&nbsp;любыми внешними системами. Проектируем базы данных.   
            .service-card__bottom
              ul.technologies
                li.technologies__item PHP7						
                li.technologies__item ООП
                li.technologies__item Yii2
                li.technologies__item Laravel
                li.technologies__item Symfony
                li.technologies__item Bitrix
                li.technologies__item Sphinx
                li.technologies__item XML
                li.technologies__item MySQL
                li.technologies__item RabbitMQ
                li.technologies__item PostgreSQL
                li.technologies__item Docker
      .services__item
        .service-card
          .service-card__inner
            .service-card__top
              h3.title.service-card__title Frontend
              .service-card__icon
                +svg('icon-front')
            span.service-card__price от 1 200 руб/час
            .service-card__middle
              p.service-card__descr Работаем как со&nbsp;статичной версткой, так и&nbsp;современными JS&nbsp;Framework. Создаем SPA. Делаем сложные анимации с&nbsp;оптимальной скоростью загрузки. Адаптируем сайты под различные устройства и&nbsp;разрешения экранов.  
            .service-card__bottom
              ul.technologies
                li.technologies__item HTML5				
                li.technologies__item CSS3
                li.technologies__item Sass
                li.technologies__item БЭМ
                li.technologies__item React
                li.technologies__item Vue
                li.technologies__item Redux
                li.technologies__item Webpack
                li.technologies__item Gulp
                li.technologies__item Canvas
                li.technologies__item WebGL
      .services__item
        .service-card
          .service-card__inner
            .service-card__top
              h3.title.service-card__title Support
              .service-card__icon.service-card__icon--support
                +svg('icon-prototyping')
            span.service-card__price от 1 200 руб/час
            .service-card__middle
              p.service-card__descr Поддерживаем и&nbsp;развиваем проекты. Выступаем как центр технических компетенций. Консультируем по&nbsp;выбору методологии управления проектом. Ведём документацию. Помогаем с&nbsp;покупкой лицензий на&nbsp;ПО.
            .service-card__bottom
              ul.technologies
                li.technologies__item Waterfall						
                li.technologies__item Agile
                li.technologies__item Kanban
                li.technologies__item SLA 24/7
                li.technologies__item NDA
                li.technologies__item T&M
                li.technologies__item FP
                li.technologies__item Retainer
                li.technologies__item GitLab
                li.technologies__item Jira
      .services__item
        .service-card
          .service-card__inner
            .service-card__top
              h3.title.service-card__title QA
              .service-card__icon.service-card__icon--qa
                +svg('icon-webdesign')
            span.service-card__price от 1 200 руб/час
            .service-card__middle
              p.service-card__descr Улучшаем работу отделов Backend, Frontend и&nbsp;Support. Держим баланс между здоровым перфекционизмом и&nbsp;интересами бизнеса клиента. Составляем прозрачные тест-кейсы и&nbsp;понятные баг-листы. 
            .service-card__bottom
              ul.technologies
                li.technologies__item Functional					
                li.technologies__item Performance
                li.technologies__item Regression
                li.technologies__item Smoke
                li.technologies__item Load
                li.technologies__item Cross platform   
      .services__item
        .service-card
          .service-card__inner
            .service-card__top
              h3.title.service-card__title UX / UI
              .service-card__icon.service-card__icon--ui
                +svg('icon-illustration')
            span.service-card__price от 1 200 руб/час
            .service-card__middle
              p.service-card__descr Проектируем интерфейсы и&nbsp;пишем Use-кейсы. Разрабатываем карты пути пользователя. Проводим usability-аудиты.     
            .service-card__bottom
              ul.technologies
                li.technologies__item Sketch				
                li.technologies__item Axure
                li.technologies__item Moqup
                li.technologies__item MindMup
      .services__item
        .service-card
          .service-card__inner
            .service-card__top
              h3.title.service-card__title Design
              .service-card__icon.service-card__icon--wdesign
                +svg('icon-branding')
            span.service-card__price от 1 200 руб/час
            .service-card__middle
              p.service-card__descr Предоставляем услуги по&nbsp;веб-дизайну, а&nbsp;также работаем в&nbsp;коллаборациях с&nbsp;ведущими студиями страны. Выполняем задачи по&nbsp;дизайн-поддержке проектов.    
            .service-card__bottom
              ul.technologies
                li.technologies__item Photoshop
                li.technologies__item Illustrator
                li.technologies__item Figma