.services {
  padding-bottom: 9px;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-top: 37px;
    @include media-breakpoint-down(mobile) {
      margin-top: 23px;
    }
  }
  &__item {
    width: calc(33.3% - 20px);
    height: auto;
    margin: 10px;
    background-color: $light-gray;
    
    .is-dark & {
      background-color: $lblack;
    }
    @include media-breakpoint-down(tabletlg) {
      width: calc(50% - 20px);
    }
    @include media-breakpoint-down(mobile) {
      width: calc(100% - 20px);
      min-height: 300px;
    }
  }
}

.service-card {
  padding: 50px;
  @include media-breakpoint-down(mobile) {
    padding: 32px 18px;
  }
  &__top {
    display: block;
    position: relative;
  }
  &__middle {
    margin: 29px 0 19px;
  }
  &__title {
    color: $red;
    font-size: 22px;
  }
  &__icon {
    font-size: 34px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    svg {
      display: block;
    }
    &--support {
      font-size: 14px;
    }
    &--wdesign {
      font-size: 40px;
    }
    &--qa {
      font-size: 31px;
    }
    &--ui {
      font-size: 28px;
    }
  }
  &__price {
    display: block;
    color: $lblack;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    margin-top: 8px;
    .is-dark & {
      color: $light-gray;
    }
  }
  &__descr {
    line-height: 1.56;
    .is-dark & {
      color: $gray;
    }
  }
}

$list-dot-size: 4px;

.technologies {
  &__item {
    display: inline-block;
    position: relative;
    color: $lblack;
    font-size: 12px;
    margin-right: 16px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    .is-dark & {
      color: $light-gray;
    }
    &:not(:last-child) {
      &::after {
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        background-color: $red;
        border-radius: 50%;
        position: absolute;
        top: 7px;
        right: -13px;
      }
    }

  }
}