script(defer src='js/libs.min.js')
script(defer src='js/common.js')

script(async type="text/javascript").
    //При переносе на бой убрать приписки .html
    setTimeout(() =>{
        const preloaderPageTitle = document.querySelector('.preloader__page-title')
        if (window.location.pathname === '/') {
            preloaderPageTitle.innerText = 'Главная'
            if (window.location.hash === '#services-main') {
                preloaderPageTitle.innerText = 'Услуги'
            } else if (window.location.hash === '#contacts') {
                if (window.location.href.match(/en/)) {
                    preloaderPageTitle.innerText = 'Contacts'
                } else {
                    preloaderPageTitle.innerText = 'Контакты'
                }
            }
        } else if (window.location.pathname === '/about.html') {
            preloaderPageTitle.innerText = 'О компании'
            if (window.location.hash === '#reviews') {
                preloaderPageTitle.innerText = 'Отзывы'
            } else if (window.location.hash === '#publications') {
                preloaderPageTitle.innerText = 'Публикации'
            }
        } else if (window.location.pathname === '/career.html') {
            preloaderPageTitle.innerText = 'Вакансии'
            if (window.location.hash === '#corporate-culture') {
                preloaderPageTitle.innerText = 'Корпоративная культура'
            }
        }
        preloaderPageTitle.classList.add('preloader__page-title--show')
    }, 135)