extends ./templates/template


block title 

block content
  - var pageName = "index"
  include components/header/_header.pug
  .wrapper
    .main-content.js-main-content.index-content
      section.link-list
        ul.pages
          li.pages__item
            a(href="index.html").pages-link Главная
          li.pages__item
            a(href="about.html").pages-link О компании
          li.pages__item
            a(href="cases.html").pages-link Проекты
          li.pages__item  
            a(href="career.html").pages-link Вакансии
          li.pages__item
            a(href="career-detail.html").pages-link Вакансии детальная
      include components/footer/_footer.pug
  .main-menu-holder
      .container
        .main-menu-box
          include components/main-menu/_main-menu.pug
