extends ./templates/template


block title 
  title Hawking Brothers. Веб-интегратор. Аутсорсинг веб-разработки для бизнеса и digital-агентств.
  script(defer type="text/javascript").

block content
  - var pageName = "digital"
  include components/preloader/_preloader.pug
  include components/header/_header.pug
  .wrapper
    .main-content.js-main-content.index-content
      include components/introduction/_introduction-digital
      include components/partners/_partners.pug
      include components/services-digital/_services-digital
      include components/cases/_cases-many.pug
      .reviews-services
        include components/reviews/_reviews.pug
      include components/contacts/_contacts.pug
      include components/footer/_footer.pug
      include components/cookie/_cookie.pug
  .main-menu-holder
      .container
        .main-menu-box
          include components/main-menu/_main-menu.pug
  include components/cases/_cases-popup-index.pug
  include ./_yandex-api.pug
  
  
  
