
extends ./templates/template


block title 
  title Статьи
  script(defer src='js/cases-ajax.js')
block content
  - var pageName = "articles"
  include components/preloader/_preloader.pug
  include components/header/_header.pug
  .wrapper
    .main-content.js-main-content
      include components/articles/_articles-separate.pug
      include components/up-button/_up-button.pug
      include components/footer/_footer.pug
      include components/cookie/_cookie.pug
  .main-menu-holder
      .container
        .main-menu-box
          include components/main-menu/_main-menu.pug
  //- include components/cases/_cases-popup-projects.pug  