section.page-section.article.articles-separate
  .container
    .article__back-wrap      
      +svg('arrow-right')
      a(href="page-articles.html").article-link-back Ко всем статьям 
    .article__title-box
      h1.title.article-title Работать по 12 часов в сутки и не спать по 3 дня кряду, или как я стал frontend-разработчиком
    .article__inner
      h2.article__main-title Как парень из города Камешково прокладывает себе путь в IT и доказывает, что было бы желание, а возможности всегда найдутся
      p.article__text Привет! Меня зовут Артем, я frontend-разработчик в аутсорс-продакшене Hawking Bros. Сейчас я уже middle и еще параллельно учусь в колледже по специальности «Программирование в компьютерных системах».     
      p.article__text Я родом из Камешково — это под Владимиром. Население — 12 496 человек. Такой маленький незаметный городок на карте, который начинался как поселок для рабочих при ткацкой фабрике. Как вы уже поняли, в моем родном городе не сильно развито IT, хотя следует отметить — местной молодежи интересны технические учебные заведения.
      img(src="assets/images/content/articles/article-img.jpg", alt="").article__img
      span.article__img-text Это Камешково. Привет, малая родина
      p.article__text В этой статье я расскажу, как выглядел мой путь попадания в IT. Может быть, ее прочтет кто-то еще из маленьких региональных городков и поселков и поймет, что для работы в нашей индустрии не нужны связи или деньги, нужно лишь желание хорошо и много работать. 
      h3.article__body-title Первый компьютер, игры и отсутствие интереса к веб-разработке
      p.article__text Лет в 13 у меня появился первый компьютер, и я уже тогда начал изучать, как он устроен. Собственно, это можно считать точкой отсчета моего пути в IT. Я занимался этим самостоятельно и было трудно — у меня не было специализированной литературы, а мой уровень английского оставлял желать лучшего. Поэтому часто я «бил наугад» и таким образом учился. Спустя некоторое время я пошел в школьный кружок программирования. Спасибо ему за то, что у меня хотя бы появились материалы для более глубокого изучения предмета. И тогда же я уже точно решил, что хочу связать с IT жизнь.
      blockquote.article__quote
        span.article__quote-text Я занимался этим самостоятельно и было трудно — у меня не было специализированной литературы, а мой уровень английского оставлял желать лучшего.
      p.article__text В то время я уже более-менее освоил C++: делал на нем небольшие калькуляторы для себя и друзей, которые, например, считали проценты в играх. Это было классное чувство: придумывать какие-то приложения и пытаться их реализовывать своими силами, думать над логикой работы, исправлять какие-то ошибки с учетом того, что тебе никто не давал готовых решений и уж тем более не подсказывал. 
      p.article__text В то время я и представить себе не мог, что стану именно веб-разработчиком. Классе в 9 нам преподавали HTML и немного JavaScript, я тогда вообще подумал, что это слишком «изи» для меня. Но спустя несколько лет, углубившись в веб-разработку, я изменил свое мнение… Я узнал, что есть большие веб-приложения и как они разрабатываются и понял, что это круто и в эту сторону следует двигаться. Кроме того, в 2016-2017 годах веб-разработка выстрелила — появилось множество технологий, стала расти популярность существующих решений за счет выпуска новых версий. Заговорили о ботах, motion UI, многом другом. 
      p.article__text Примерно в это же время, когда я был на 2 курсе колледжа, нас приглашали участвовать в чемпионате молодых профессионалов «WorldSkills Russia» (Владимирская область). Мне предложили попробовать поучаствовать в компетенции «Веб-дизайн и разработка». Я согласился, но в тот раз пролетел: моих знаний не хватило и место участника ушло другому человеку. Как ни странно, это меня не расстроило. Совсем наоборот, у меня появилась цель — принять участие в чемпионате в следующем году, и всем показать, на что я способен.
      section.article__section
        .article__section-top
          .article__section-top-img(style="background-image: url('assets/images/content/articles/articles-img.jpg');") 
          .article__section-content 
            p.article__section-content-title Елена Гордеева 
            span.article__section-content-title PR-менеджер
        p.article__section-text Мы ищем разработчика, которому интересно реализовывать и развивать сложные проекты, интегрированные в распределенную инфраструктуру крупного eCommerce. Наши проекты – это работа с высокими нагрузками, кластерной архитектурой, и многоуровневыми интеграциями, общение с командами со стороны клиента и других IT-партнеров. Мы ищем того, кто будет смотреть на проект широко и принимать участие в принятии ключевых решений.
      p.article__text Мое развитие стали замечать наставники в колледже. И вдруг в один день мне заявляют, что участник, который должен был выступать на чемпионате, снят, и на его место берут меня. Как бы цинично это ни звучало, но я был рад. Осталось лишь выиграть и открыть двери в новую жизнь. Так чего же я жду? Вперед!
      article.article__block 
        h3.article__body-title План — работать больше, работать лучше. Сон для слабаков
        p.article__text А теперь ложка дегтя: когда я узнал об этом, до чемпионата оставалась всего пара месяцев, и мне нужно было срочно подтягивать свои навыки и знания. Я понимал, что при текущем уровне развития вряд ли добьюсь хороших результатов, так как чемпионат подразумевал знания по backend, frontend и при этом еще по дизайну. Если в дизайне и фронтенде у меня еще что-то получалось — был опыт работы с Photoshop, с версткой, то backend давался очень сложно. Я пересмотрел свой график. План был прост: упороться и вкалывать каждый день, но победить. Никакого work-life balance, только хардкор. Для этого я стал заниматься в среднем по 12 часов в день. Иногда мог несколько суток без сна готовиться (мой рекорд — 3 дня, но повторять никому не советую. И лучше не спрашивайте, как я выжил). 