section.career-section.career-detail
  .container
    .career-detail__breadcrumbs
      .career-detail__breadcrumbs-inner
        .career-detail__breadcrumbs-icon
          +svg('arrow-left')
        a(href="career.html").career-detail__breadcrumbs-text Вернуться к списку вакансий
    .career-title
      h1.title.career-title Frontend-разработчик
    .jobs__inner
      .jobs__left
        .career-detail__row
          .career-section__descr
            p Мы ищем разработчика, которому интересно реализовывать и развивать сложные проекты, интегрированные в распределенную инфраструктуру крупного eCommerce. Наши проекты – это работа с высокими нагрузками, кластерной архитектурой, и многоуровневыми интеграциями, общение с командами со стороны клиента и других IT-партнеров. Мы ищем того, кто будет смотреть на проект широко и принимать участие в принятии ключевых решений.
        .career-detail__info
          .job-basic-info
            .job-basic-info__item
              span.job-basic-info__row от <span>30 000 ₽</span>
              span.job-basic-info__row Заработная плата
            .job-basic-info__item
              span.job-basic-info__row <span>1-3</span> года
              span.job-basic-info__row Требуемый опыт работы  
        .career-detail__job-row
          h2.title.section-title.career-detail__subtitle Обязанности
          .job-descr
            ul.job-descr__list
              li.job-descr__item Верстка сайтов "с нуля"
              li.job-descr__item Доработка существующей верстки
        .career-detail__job-row
          h2.title.section-title.career-detail__subtitle Требования
          .job-descr
            ul.job-descr__list
              li.job-descr__item Аккуратность и здоровый перфекционизм
              li.job-descr__item Уверенные знания HTML5, CSS3, препроцессоров, БЭМ, JavaScript и адаптивной верстки
              li.job-descr__item Опыт работы с системой контроля версий
              li.job-descr__item Знание особенностей верстки под IE10+ и последние версии всех современных браузеров
              li.job-descr__item Самостоятельность и инициатива в применении визуальных эффектов и анимации
              li.job-descr__item Внимательность, самоконтроль и ответственность 
        .career-detail__job-row
          h2.title.section-title.career-detail__subtitle Условия
          .job-descr
            ul.job-descr__list
              li.job-descr__item Работа в одном из лучших аутсорс-продакшнов России (5 место рейтинга Тэглайн)
              li.job-descr__item Профессиональная команда, которая всегда готова научить и подсказать
              li.job-descr__item Интересные проекты от крупных российских и мировых компаний и брендов
              li.job-descr__item Работа в комфортабельном офисе с отличным транспортным сообщением
              li.job-descr__item Премии по результатам работы
              li.job-descr__item Трудоустройство по ТК РФ
              li.job-descr__item Чай, кофе и печенье в неограниченном количестве
              li.job-descr__item Испытательный срок 1 месяц
        .career-detail__job-row
          h2.title.section-title.career-detail__subtitle.career-detail__subtitle--contact Заинтересовала вакансия?
          .button.career-button.js-career-contact Напишите нам
      .jobs__right
        .job__contacts.js-contacts-sticky
          .career-detail__headhunter
            .headhunter
              .headhunter__logo
                img(src="assets/images/content/career/logohhru.png", alt="").headhunter-logo--light
                img(src="assets/images/content/career/logohhru1.png", alt="").headhunter-logo--dark
              a(href="hh.ru").headhunter__link.link--privacy Вакансия на HeadHunter
          .career-detail__row
            .jobs__mail
              span.title.jobs__subtitle  Не нашли подходящую вакансию?
              div.jobs__mail-contact
                span.jobs__mail-text Напишите нам на 
                a(href="#").link--privacy hello@hawkingbrothers.com
  .career-contact-form-holder.js-form-holder
    div.contacts__form-wrap
      .contact-form__succes-message.js-form-succes
        .contact-form__succes-inner
          span.title Форма успешно отправлена.
      form.contact-form.js-career-form.contact-form--career
        .contact-form__row.contact-form__row--title
          span.title.contact-form__title Вакансия Frontend-разработчик
          .contact-form__close.js-close-contact-form
        .contact-form__row.contact-form__row--name
          input.contact-form__input.contact-form__field.js-input(type="text" name="name" id="name" required).js-input-name
          .contact-form__fill-line
          label(for="name").contact-form__label.js-form-label Как Вас зовут?
        .contact-form__row
          label(for="phone").contact-form__label.js-form-label Телефон
          input.contact-form__input.contact-form__field.js-input(type="tel" name="phone" id="phone" required).js-phone.customPhone
          .contact-form__fill-line
        .contact-form__row
          label(for="email").contact-form__label.js-form-label Электропочта
          input.contact-form__input.contact-form__field.js-input(type="email" name="email" id="email" required).customEmail
          .contact-form__fill-line
        .contact-form__row.contact-form__row--message
          label(for="message").contact-form__label.js-form-label Расскажите о себе
          textarea(name="message" id="message").contact-form__input.contact-form__field.contact-form__input--textarea.contact-form__input--textarea_scroll.js-input
          .contact-form__fill-line
        .contact-form__row
          label.upload-resume.js-file-label
            input(type="file" name="resume" required).upload-resume__input.js-file-input
            span.js-file-error.upload-resume__error Пожалуйста, прикрепите Ваше резюме!
            span.upload-resume__icon
              +svg('plus')
            span.js-file-name Прикрепить резюме
        .contact-form__row.contact-form__row--submit
          button(type="submit").contact-form__input.career-form__button.button Отправить
          div.contact-form__terms
            span Нажимая "Отправить" Вы соглашаетесь с 
            a(href="sogl.pdf" target="_blank").link--privacy Политикой обработки персональных данных
        .form-error-container
        input(type="text" name="person").contact-form__person.js-input-person  
      
          


      