.career-detail {
  padding: 150px 0 82px !important;
  @include media-breakpoint-down(mobile) {
    padding: 100px 0 50px !important;
  }
  &__breadcrumbs {
    display: none;
    margin-bottom: 30px;
    @include media-breakpoint-down(mobile) {
      display: block;
    }
    &-inner {
      display: flex;
      align-items: center;
    }
    &-icon {
      fill: $gray;
      margin-right: 10px;
      font-size: 11px;
      align-self: auto;
      svg {
        display: block;
        transition: fill 0.3s ease;
      }
    }
    &-text {
      font-family: 'Oswald', sans-serif;
      color: $gray;
      font-weight: 500;
      transition: color 0.3s ease;
    }
    &:active {
      
      .career-detail__breadcrumbs-icon {
        fill: $red;
      }
      .career-detail__breadcrumbs-text {
        color: $red;
      }
    }
  }
  &__row {
    margin-top: 53px;
    @include media-breakpoint-down(mobile) {
      margin-top: 34px;
    }
  }
  &__job-row {
    margin-top: 102px;
    @include media-breakpoint-down(mobile) {
      margin-top: 60px;    }
  }
  &__subtitle {
    margin-bottom: 50px;
    
    @include media-breakpoint-down(mobile) {
      margin-bottom: 33px;
      font-weight: 500;
    }
    &--contact {
      font-weight: normal;
      font-size: 36px;
      @include media-breakpoint-down(mobile){
        font-size: 22px;
      }
    }
  }
  .jobs__left {
    @include media-breakpoint-down(tablet) {
      padding-right: 30px;
    }
    @include media-breakpoint-down(mobile) {
      padding-right: 0;
    }
  }
  
  &__info {
    margin-top: 82px;
    @include media-breakpoint-down(mobile) {
      margin-top: 45px;
    }
  }
  &__headhunter {
    padding-top: 150px;
    @include media-breakpoint-down(tablet) {
      padding-top: 50px;
    }
  }
}






.job-basic-info {
  display: flex;
  
  @include media-breakpoint-down(mobile) {
    display: block;
  }
  &__item {
    // display: inline-block;
    &:nth-child(1) {
      flex-shrink: 0;
      @include media-breakpoint-down(mobile) {
        margin-bottom: 40px;
      }
    }
    span {
      &:nth-child(2) {
        .is-dark & {
          color: $gray;
        }
      }
    }
    &:last-child {
      margin-left: 112px;
      @include media-breakpoint-down(mobile) {
        margin-left: 0;
      }
    }
  }
  &__row {
    &:first-child {
      font-size: 38px;
      display: block;
      @include media-breakpoint-down(mobile) {
        font-size: 28px;
      }
    }
    span {
      font-size: 48px;
      @include media-breakpoint-down(mobile) {
        font-size: 38px;
      }
    }
    &:last-child {
      @include media-breakpoint-down(mobile) {
        font-size: 14px;
      }
    }
  }
}

.job-descr {
  .is-dark & {
    color: $gray;
  }
  ul li {
    position: relative;
    margin: 11px 0px 0px 20px;
    line-height: 1.56;
    &::before {
      position: absolute;
      content: '\2014';
      font-size: 20px;
      left: -21px;
      top: -10%;
    }
  }
}

.contact-form__row--submit {
  .contact-form--career & {
    display: flex;
    @include media-breakpoint-down(mobile) {
      display: block;
    }
  } 

}

.career-button {
  width: 100%;
  max-width: 250px;
  color: $black;
  display: block;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  @include media-breakpoint-down(mobile) {
    max-width: 200px;
  }
  .is-dark & {
  }
}

.headhunter {
  &__logo {
    img {
      max-width: 90px;
    }
  }
  &__link {
    color: $red;
    display: inline-block;
    margin-top: 20px;
  }
}

.headhunter-logo--light {
  .is-dark & {
    display: none;
  }
}

.headhunter-logo--dark {
  display: none;
  .is-dark & {
    display: block;
  }
}

.career-contact-form {
  height: 100%;
  width: 100%;
  
  background-color: $light-gray;
  .is-dark & {
    background-color: $lblack;
  }
}

.contact-form--career {
  padding: 0px;
  height: auto;
  max-width: 560px;
  margin: auto;
  .contact-form__close {
    top: 10px;
    right: -1px;
  }

  @include media-breakpoint-down(mobile) {
    max-width: 500px;
    padding: 40px;
  }
  

  // padding-top: 0;
  // margin: 0 auto;
  .contact-form__terms {
    // margin-left: 35px;
    padding-left: 35px;
    @include media-breakpoint-down(mobile) {
      margin-left: 0;
      display: block;
      margin-top: 20px;
      padding-left: 0;
    }
    .link--privacy {
      display: inline;
      
    }
  }
}

.career-contact-form-holder {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $light-gray;
  top: 0;
  left: 0;
  display: none;
  z-index: 9999999;
  padding: 0;
  overflow: hidden;
  display: none;
  align-items: center;
  justify-content: center;
  &.is-active {
    display: flex;
  }
  & .contacts__form-wrap {
    display: flex;
    overflow: auto;
    align-items: center;
    position: relative;
    height: 100%;
  }
  .is-dark & {
    background-color: $lblack;
  }
  .contact-form__close {
    display: block;
  }
  .contact-form__row {
    &:last-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media-breakpoint-down(mobile) {
        display: block;
      }
    }
  }
  .career-form__button {
    min-width: 200px;
    max-width: 200px;
    display: block;
    @include media-breakpoint-down(mobile) {
      max-width: 100%;
    }
  }
}

.upload-resume {
  position: relative;
  // overflow-x: hidden;
  display: block;
  input {
    position: absolute;
    visibility: hidden;
    left: -99999px;
  }
  &__error {
    color: $red;
    position: absolute;
    display: none;
    top: 115%;
    left: 0;
    .error +& {
      display: inline;
    }
    .valid +& {
      display: none;
    }
  }
}

.upload-resume {
  display: flex;
  cursor: pointer;
  align-items: center;
  &__icon {
    fill: $black;
    margin-right: 10px;
    .is-dark & {
      fill: $white;
    }
    svg {
      display: block;
    }
  }
}

.job__contacts {
  // position: fixed;
  // padding-right: 20px;
  &.is_stuck {
    // top: 60px !important;
  }
  @include media-breakpoint-down(tablet) {
    // left: 70%;
    // top: 5%;
  }
  @include media-breakpoint-down(mobile) {
    position: static;
  }
}

.contact-form--career {
    & .contact-form__input{
      margin-bottom: 0px;
    }
    & .contact-form__fill-line{
      top: initial;
      bottom: -1px;
    }
    & .contact-form__row--message .contact-form__input{
      margin-bottom: -3px;
    }
    & .contact-form__row{
      margin-top: 42px;
    }
    & .contact-form__row--title{
      margin-top: 0;
    }
}


_:-ms-fullscreen, :root .contact-form--career .contact-form__input {
  margin-bottom: 1px;
}

_:-ms-fullscreen, :root .contact-form--career .contact-form__row--message .contact-form__fill-line{
  top: calc(100% - 2px);
}

@-moz-document url-prefix(){
  .contact-form--career .contact-form__row--message .contact-form__fill-line{
      bottom: -1px !important;
  }
}
.index-content .contact-form{
  height: 100%; 
}
.index-content .is-active .contact-form{
  height: auto;
  @include media-breakpoint-down(mobile){
    padding: 40px;
  }
}
