.cookie.js-cookie
  .container
    .cookie__inner
      span.cookie__text Мы используем файлы cookie, чтобы улучшить работу сайта. Дальнейшее пребывание на сайте означает согласие с их применением. <a href="#">Узнать подробнее</a>
      .cookie__button.button.js-cookie-button Принять
