-   
  var breadcrubmsText
  switch (pageName) {
    case "index":
      breadcrubmsText1 = "";
      break;
      firstItemClass = "breadcrumbs__item breadcrumbs__hidden"
      secondItemClass = "breadcrumbs__item breadcrumbs__hidden"
      link1 = ""
      link2 = ""
    case "cases":
      breadcrubmsText1 = "Наши проекты";
      breadcrubmsText2 = "";
      firstItemClass = "breadcrumbs__item"
      secondItemClass = "breadcrumbs__item breadcrumbs__hidden"
      link1 = "cases.html"
      link2 = ""
      break;
    case "articles":
      breadcrubmsText1 = "Статьи";
      breadcrubmsText2 = "";
      firstItemClass = "breadcrumbs__item"
      secondItemClass = "breadcrumbs__item breadcrumbs__hidden"
      link1 = "page-articles.html"
      link2 = ""
      break;
    case "article":
      breadcrubmsText1 = "Статьи";
      breadcrubmsText2 = "Работать по 12 часов в сутки и не спать по 3 дня кряду, или как я стал frontend-разработчиком";
      firstItemClass = "breadcrumbs__item"
      secondItemClass = "breadcrumbs__item breadcrumbs__max"
      link1 = "page-articles.html"
      link2 = "page-article.html"
      break;
    case "career":
      breadcrubmsText1 = "Вакансии";
      breadcrubmsText2 = "";
      firstItemClass = "breadcrumbs__item"
      secondItemClass = "breadcrumbs__item breadcrumbs__hidden"
      link1 = "career.html"
      link2 = ""
      break;
    case "career-detail":
      breadcrubmsText1 = "Вакансии";
      breadcrubmsText2 = "Frontend-разработчик";
      firstItemClass = "breadcrumbs__item breadcrumbs__item--underlined"
      secondItemClass = "breadcrumbs__item"
      link1 = "career.html"
      link2 = "career-detail.html"

      break;
    case "about":
      breadcrubmsText1 = "О компании";
      breadcrubmsText2 = "";
      firstItemClass = "breadcrumbs__item"
      secondItemClass = "breadcrumbs__item breadcrumbs__hidden"
      link1 = "about.html"
      link2 = ""
      break;        
  }

.breadcrumbs.header__bredcrumbs
  ul.breadcrumbs__list
    li(class=firstItemClass)
      span.breadcrumbs__link= breadcrubmsText1
    li(class=secondItemClass)
      span.breadcrumbs__link= breadcrubmsText2