.breadcrumbs {
  &__max{
    max-width: 250px;
    .breadcrumbs__link {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 250px;
      display: inline-block;
    }
  }
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
    font-family: 'Oswald', sans-serif;
    color: $gray;
    display: inline-block;
    margin-left: 25px;
    user-select: none;
    &:last-child {
      a {
        pointer-events: none;
      }
    }
    &::before {
      content: '/';
      position: absolute;
      left: -15px;
      top: 1px;
    }
    &--underlined {
      text-decoration: underline;
    }
  }
  @include media-breakpoint-down(mobile) {
    display: none;
  }
}


.header__bredcrumbs {
  position: absolute;
  top: 9px;
  left: 100%;
  
  width: 60vw;
}

.breadcrumbs__hidden {
  display: none;
}