.project-details {
   width: 95vw;
   max-width: 960px;
   background-color: $white;
   position: relative;
 
   @include media-breakpoint-down(tablet) {
      max-width: 660px;
   }
 
   @include media-breakpoint-down(mobile) {
      width: 100vw;
      max-width: none;
      min-height: 100vh;
   }
   .is-dark & {
      background-color: $lblack;
    }
   &__top {
      position: relative;
      color: $lblack;
      
      @include media-breakpoint-down(mobile) {
         color: $white;
      }
   }
 
   &__top-bottom {
      position: absolute;
      left: 20px;
      bottom: 20px;
      min-height: 24px;
   }

   &__top-left {
      position: absolute;
      left: 48px;
      top: 0;

      @include media-breakpoint-down(mobile) {
         position: inherit;
         left: 0;
         padding-left: 20px;
         padding-right: 20px;
         padding-bottom: 32px;
      }
   }
 
   &__image {
      padding-top: 524px;

      @include media-breakpoint-down(mobile) {
         display: none !important;
      }
   }
 
   &__inner {
      padding: 32px 48px 48px 48px;
      display: flex;

      @include media-breakpoint-down(mobile) {
         padding: 37px 20px 48px 20px;
         display: block;
      }
   }
 
   &__heading {
      font-weight: 400;
      font-size: 36px;
      line-height: 53px;
      padding-top: 32px;
      padding-bottom: 30px;

      @include media-breakpoint-down(mobile) {
         padding-top: 100px;
         font-size: 26px;
         line-height: 39px;
      }
   }

   &__info {
      .item {
         &__subtitle {
            display: block;
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 33px;
            padding-bottom: 11px;
         }

         &__subdescription {
            font-size: 16px;
            line-height: 25px;
         }

         .technologies {
            padding-top: 3px;
            height: 16px;

            @include media-breakpoint-down(mobile) {
               padding-top: 4px;
            }
         }

         .technologies__item {
            display: inline-block;
            position: relative;
            font-size: 12px;
            line-height: 16px;
            margin-right: 17px;
            font-family: 'Roboto Mono';
            font-weight: 400;

            @include media-breakpoint-down(mobile) {
               color: $white;
            }

            &:not(:last-child)::after {
               content: '';
               display: block;
               width: 4px;
               height: 4px;
               background-color: #eb5757;
               border-radius: 50%;
               position: absolute;
               top: 6px;
               right: -12px;

               @include media-breakpoint-down(mobile) {
                  background-color: $white;
               }
            }

            .is-dark & {
               color: $lblack;

               @include media-breakpoint-down(mobile) {
                  color: $white;
               }
            }
         }

         &:not(:first-child) {
            padding-top: 24px;
         }
      }
   }
   
   &__description {
      flex-basis: 50%;
      line-height: 25px;

      @include media-breakpoint-up(tablet) {
         padding-right: 49px;
      }

      @include media-breakpoint-up(desktop) {
         flex-basis: 449px;
         width: 400px;
         flex-shrink: 0;
      }

      .item {
         &__subtitle {
            display: block;
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 33px;
            padding-bottom: 15px;
         }

         &:not(:first-child) {
            margin-top: 0;
            padding-top: 32px;
         }
      }
      p, div {
         &:not(:first-child) {
            margin-top: 10px;
         }
      }
      ul {
         &:first-of-type {
            li {
               display: block;
               position: relative;
               font-size: 16px;
               line-height: 25px;
               margin-right: 16px;
               font-weight: 400;
               line-height: 25px;
               padding-left: 18px;
               padding-bottom: 8px;
               .is-dark & {
                  color: $light-gray;
               }
               &::before {
                  content: '';
                  display: block;
                  width: 10px;
                  height: 1px;
                  background-color: $red;
                  position: absolute;
                  top: 12px;
                  left: 0;
               }
               &:last-child {
                  padding-bottom: 0;
               }
            }
         }
 
         &:nth-of-type(2) {
          margin: 20 0; 
          li {
            position: relative;
            margin: 11px 0px 0px 20px;
            line-height: 1.56;
            &::before {
              position: absolute;
              content: '\2014';
              font-size: 20px;
              left: -21px;
              top: -10%;
            }
          }
        }
      }
   }
   
   &__subtitle {
      font-weight: 600;
   }
   &__about {
      @include media-breakpoint-down(desktop) {
         flex-basis: 50%;
      }

      @include media-breakpoint-down(mobile) {
         margin-top: 0;
      }

      .achievements {

         &__inner {
            display: block;
            margin: 0;
            @include media-breakpoint-down(mobile) {
               flex-wrap: wrap;
               display: flex;
               justify-content: space-around;
            }
         }
         &__item {
            margin-bottom: 0;

            @include media-breakpoint-up(tablet) {
               margin: 0;
               width: 100%;
               flex-basis: 100%;
               padding-bottom: 24px;
            }
            
            @include media-breakpoint-down(mobile) {
               margin: 0;
               padding-top: 32px;
               flex-basis: 50%;
            }

            &:last-child {
               @include media-breakpoint-up(tablet) {
                 padding-bottom: 0;
               }
            }
         }
      }
      .achievement {
         cursor: default;

         @include media-breakpoint-up(tablet) {
            display: flex;
            align-items: center;
          }

         &__icon {
            &::before {
               background-size: contain;
            }
            width: 88px;
            height: 79px;

            &-text {
               stroke: none !important;
               font-size: 14px;
               margin-top: 5px;

               &--svg {
                  font-size: 30px;
      
                  .icon.refresh {
                     width: 19px;
                     height: 21px;
                  }
               }
            }

            &-img--light {
               display: block;
               .is-dark & {
                  display: none;
               }
            }

            &-img--dark {
               display: none;
               .is-dark & {
                  display: block;
               }
            }
         }
         &__text {
            font-family: 'Roboto Condensed';
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
         }
         &__bottom {
            @include media-breakpoint-up(tablet) {
               padding-left: 24px;
             }
         
             @include media-breakpoint-down(mobile) {
               text-align: center;
               margin-top: 8px;
             }
         }
      }
   }
 
   .arrow-right__fill {
      height: 20px;
      width: 20px;
   }
 
   .link--arrow {
      pointer-events: none;

      .arrow-right__fill-wrap {
         @include media-breakpoint-down(mobile) {
            top: 3px;
         }
      }

      @include hover() {
         .title__arrow {
            transform: none !important;

            .arrow-right__fill-wrap {
               width: 100%;
               fill: #eb5757;
            }
         }

         .arrow-right__main {
            fill: transparent !important;
            transition-delay: .2s;

            svg {
               transition-duration: 0.2s;
            }
         }
      }

      a {
         pointer-events: auto;
      }
   }
 
   .title__arrow {
      position: relative;
      margin-left: 9px;
      top: 6px;
      @include media-breakpoint-down(mobile) {
         top: 2px;
         margin-left: 5px;
      }

      svg {
         width: 15px;
         height: 15px;
      }
   }
 
   .arrow-right__main {
      fill: $black !important;

      @include media-breakpoint-down(mobile) {
         fill: $white !important;
         width: 15px;
         height: 15px;
         margin-top: 3px;
      }
   }
 
   &__bottom {
      text-align: center;
      padding-top: 25px;
   }
 
   &__link {
      padding-top: 19px;
      display: block;
      color: $lblack;

      @include media-breakpoint-down(mobile) {
         padding-top: 24px;
         color: $white;
      }
      
      &:first-child {
         padding-top: 47px;
         
         @include media-breakpoint-down(mobile) {
            padding-top: 40px;
         }
      }

      a {
         background-image: linear-gradient($black, $black) !important;

         @include media-breakpoint-down(mobile) {
            line-height: 19px;
            background-image: linear-gradient($white, $white) !important;
         }

         .browser-ie & {
            @include media-breakpoint-down(mobile) {
               color: currentColor !important;
            }
         }
      }
   }
 
   &__close {
      fill: #909090;
      position: absolute;
      top: 32px;
      right: 32px;
      cursor: pointer;

      @include media-breakpoint-down(mobile) {
         right: 23px;
      }

      .icon {
         width: 23px;
         height: 23px;
         fill: $white;
      }
   }
 }

.popup .project-details__top {
   @include media-breakpoint-down(mobile) {
      background: linear-gradient(45deg, #3590CA 0%, #00273F 100%);
   }
}

.popup[data-popup="s-o"] .project-details__top {
   @include media-breakpoint-down(mobile) {
      background: linear-gradient(45deg, #3590CA 0%, #00273F 100%);
   }
}


.popup[data-popup="nezlobin"] .project-details__top {
   @include media-breakpoint-down(mobile) {
      background: linear-gradient(45deg, #432b64 0%, #040a17 100%);
   }
}

.popup[data-popup="earth2050"] .project-details__top {
   @include media-breakpoint-down(mobile) {
      background: linear-gradient(45deg, #0e1e35 0%, #204181 100%);
   }
}

.popup[data-popup="ales"] .project-details__top {
   @include media-breakpoint-down(mobile) {
      background: linear-gradient(45deg, #a28570 0%, #59402a 100%);
   }
}

.popup[data-popup="privacy"] .project-details__top {
   @include media-breakpoint-down(mobile) {
      background: linear-gradient(45deg, #1b8271 0%, #335f58 100%);
   }
}

.popup[data-popup="oldbid"] .project-details__top {
   @include media-breakpoint-down(mobile) {
      background: linear-gradient(45deg, #205e8e 0%, #224560 100%);
   }
}

.popup[data-popup="kaspersky-calculator"] .project-details__top {
   @include media-breakpoint-down(mobile) {
      background: linear-gradient(45deg, #0a797a 0%, #364c4c 100%);
   }
}

.popup[data-popup="spiritfit"] .project-details__top {
   @include media-breakpoint-down(mobile) {
      background: linear-gradient(45deg, #873200 0%, #461b00 100%);
   }
}

.popup[data-popup="hansa"] .project-details__top {
   @include media-breakpoint-down(mobile) {
      background: linear-gradient(45deg, #77001b 0%, #38030f 100%);
   }
}

.popup[data-popup="swamiart"] .project-details__top {
   @include media-breakpoint-down(mobile) {
      background: linear-gradient(45deg, #0e7676 0%, #1b5252 100%);
   }
}

.popup[data-popup="belfan"] .project-details__top {
   @include media-breakpoint-down(mobile) {
      background: linear-gradient(45deg, #8a6944 0%, #523d26 100%);
   }
}

.popup[data-popup="diamtools"] .project-details__top {
   @include media-breakpoint-down(mobile) {
      background: linear-gradient(45deg, #920e0e 0%, #571919 100%);
   }
}

.popup[data-popup="avia"] .project-details__top {
   @include media-breakpoint-down(mobile) {
      background: linear-gradient(45deg, #624e3c 0%, #493f31 100%);
   }
}

.popup[data-popup="cleanelly"] .project-details__top {
   @include media-breakpoint-down(mobile) {
      background: linear-gradient(45deg, #43497b 0%, #2b2d42 100%);
   }
}