section.career-section.corp-life
  .container
    .career-section__inner
      h2.title.section-title Устраиваем корпоративные вечеринки, дружеские встречи, поздравляем друг друга с днем рождения 
      .career-section__row
        .career-section__descr
          p Hawking School – это первые курсы дополнительного образования во Владимире, где готовят специалистов в области digital-технологий. Профессии будущего доступны теперь и в нашем городе!
    .career-section__row
      .corp-life__gallery
        .life-gallery.swiper-container.js-life-swiper
          .life-gallery__inner.swiper-wrapper
            .life-gallery__item.life-gallery__item--wide.swiper-slide
              .picture.life-gallery__image.life-gallery__image--wide(data-src="assets/images/content/career/life1.jpg").js-lazy
            .life-gallery__item.life-gallery__item--wide.swiper-slide
              .picture.life-gallery__image.life-gallery__image--wide(data-src="assets/images/content/career/life2.jpg").js-lazy
            .life-gallery__item.swiper-slide
              .picture.life-gallery__image(data-src="assets/images/content/career/life3.jpg").js-lazy
            .life-gallery__item.swiper-slide
              .picture.life-gallery__image(data-src="assets/images/content/career/life4.jpg").js-lazy
            .life-gallery__item.swiper-slide
              .picture.life-gallery__image(data-src="assets/images/content/career/life5.jpg").js-lazy
    .swiper-scrollbar.js-life-scrollbar