section.corp-portals-develop
  .container
    h2.title.section-title.section-title--corp-portals Наши решения и технологии разработки корпоративных порталов
    ul.corp-portals-develop__list
        li.corp-portals-develop__item
            p.corp-portals-develop__name Решения на основе Битрикс 24<br>"Корпоративный портал"
            p.corp-portals-develop__price от 1 200 руб/час
            .corp-portals-develop__icon
                +svg('bitrix24')
        li.corp-portals-develop__item
            p.corp-portals-develop__name Разработка индивидуальных програмных продуктов с использованием Laravel, Symfony, React и Vue
            p.corp-portals-develop__price от 1 200 руб/час
            .corp-portals-develop__icon
                +svg('frameworks')