.page-section.publications#publications
  h2.title.section-title Публикации
  .publications__inner
    .publications__list
      .publication-item
        p.publication-item__date 21 мая 2020
        p.publication-item__title Как региональной ИТ-компании начать выстраивать отношения с государством
        p.publication-item__author Егор Сизяков
        p.publication-item__description Когда речь заходит о GR, чаще всего в качестве примеров приводят зарубежные и столичные кейсы. Они не подходят региональным компаниям, а тем более МСБ…
        a.publication-item__link-wrapper
          span.text Читать на vc.ru
          +svg('link')
      .publication-item
        p.publication-item__date 21 мая 2020
        p.publication-item__title Как региональной ИТ-компании начать выстраивать отношения с государством
        p.publication-item__author Егор Сизяков
        p.publication-item__description Когда речь заходит о GR, чаще всего в качестве примеров приводят зарубежные и столичные кейсы. Они не подходят региональным компаниям, а тем более МСБ…
        a.publication-item__link-wrapper
          span.text Читать на vc.ru
          +svg('link')
      .publication-item
        p.publication-item__date 21 мая 2020
        p.publication-item__title Как региональной ИТ-компании начать выстраивать отношения с государством
        p.publication-item__author Егор Сизяков
        p.publication-item__description Когда речь заходит о GR, чаще всего в качестве примеров приводят зарубежные и столичные кейсы. Они не подходят региональным компаниям, а тем более МСБ…
        a.publication-item__link-wrapper
          span.text Читать на vc.ru
          +svg('link')
    .publications__more-wrapper
      a.publications__more-btn
        +svg('plus')
        span.text Показать еще
        