.culture-info.culture-info--corp-portals
    .container
        .culture-info__wrapper
            p.culture-info__title Наша компания обладает необходимым штатом специалистов для решения полного цикла задач по внедрению корпоративных порталов. 
            .culture-info__inner
                .culture-info__item
                    .culture-info__item-inner
                        span.culture-info__text.culture-info__text--lg &gt;5 
                            span.culture-info__text.culture-info__text--year лет
                        span.culture-info__text разрабатываем сложные системы
                .culture-info__item
                    .culture-info__item-inner
                        span.culture-info__text.culture-info__text--lg 30+
                        span.culture-info__text специалистов в команде
                .culture-info__item
                    .culture-info__item-inner
                        span.culture-info__text.culture-info__text--lg 2
                        span.culture-info__text место в рейтинге аутсорс-продакшнов Тэглайн