.nav-menu {
  display: block;
  position: fixed;
  z-index: 999998;
  top: 0;
  right: 0;
  text-align: left;
  height: 100%;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease;
  transform: translateX(120%);
  will-change: transform;
  backface-visibility: hidden;
  touch-action: none;
  background-color: $white;
  overflow: hidden;
  padding-left: 80px;
  // width: 500px;
  @include media-breakpoint-down(mobile) {
    width: 100%;
    box-shadow: none;
    .is-android & {
      height: 100vh;
    }
  }
  @include media-breakpoint-up(desktop) {
    width: 529px;
  }
  .is-dark & {
    background-color: $lblack;
  }
  &.is-active {
    transform: translateX(0);
  }
  &__wrap {
    overflow-x: hidden;
    height: calc(100% - 102px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // position: relative;
    @include media-breakpoint-down(mobile){
      height: calc(100% - 124px);
    }
  }
  &__head {
    height: 102px;
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      @include media-breakpoint-down(mobile) {
        margin-left: -50px;
      }
    }
  }
  &__mode {
    
    @include media-breakpoint-down(mobile) {
      transform: translateY(-15px);
    }
  }
  &__lang {
    margin-right: 30px;
    position: relative;
    bottom: 3px;
  }
  &__inner {
    //height: 100%;
    overflow: hidden;
    position: relative;
    // padding-bottom: 20px;
    // touch-action: auto;
    padding-right: calc((100vw - 1340px) / 2 + 80px);

    @include media-breakpoint-down(desktop) {
      padding-right: 53px;
    }

    @include media-breakpoint-down(tablet) {
      padding-right: 44px;
    }

    @include media-breakpoint-down(mobile) {
      padding-right: 24px;
    }

    @include media-breakpoint-up(desktop) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding-right: 137px;
    }

  }
  
  &__menu {
    will-change: transform;
    backface-visibility: hidden;
    transform: translateX(50%);
    .is-active & {
      transform: translateX(0);
    }
    &:nth-child(1) {
      @include media-breakpoint-up(desktop) {
        padding-bottom: 135px;
      }
    }
    &:nth-child(2) {
      margin-top: 0;
      padding-bottom: 0;

      @include media-breakpoint-up(desktop) {
        margin-top: 92px;
        padding-bottom: 40px;
      }
    }
    
  }

  &.is-minimized {
    @include media-breakpoint-up(desktop) {
      width: auto;
    }

    .nav-menu {
      &__inner {
        display: block;
        
        @include media-breakpoint-up(desktop) {
          padding-right: 53px;
        }
      }

      &__menu:nth-child(1) {
        @include media-breakpoint-up(desktop) {
          padding-bottom: 15px;
        }
      }

      &__menu:nth-child(2) {
        @include media-breakpoint-up(desktop) {
          margin-top: 0;
        }
      }
    }
  }
}

.menu-top--animate {
  transition: transform 0.5s ease;
}
.menu-top--animate-delay{
  transition-delay: 0.3s;
}
.menu-bottom--animate {
  transition: transform 0.6s ease 0.4s;
}



.main-menu {
  &__item {
    
    &:first-child {
      margin-top: 10px;
      
      @include media-breakpoint-down(mobile) {
        margin-top: 0;
        
      }
    }
    &:not(:first-child) {
      margin-top: 20px;
    }
    .browser-ie & {
      @include media-breakpoint-down(mobile) {
        // display: flex;
        // justify-content: flex-end;
        max-width: 70vw;
      
      }
    }
  }
  &__link {
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    display: block;
    color: #4A4A4A;
    @include media-breakpoint-down(mobile) {
      font-size: 26px;
    }
    .is-dark &{
      color: #fafafa;
    }
  }
  &__sublink{
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    display: block;
    color: #909090;
    margin: 10px 0;
    &:last-child{
      margin: 0;
    }
    @include media-breakpoint-down(mobile) {
      font-size: 18px;
    }
  }
}

.external-links {
  //align-self: center;
  font-size: 22px;
  font-stretch: condensed;
  @include media-breakpoint-down(mobile) {
    font-size: 18px;
    padding-bottom: 20px;
  }
  
  &__item {
    margin-top: 32px;
    max-width: 300px;
    @include media-breakpoint-down(mobile) {
      max-width: 100%;
      margin-top: 27px;
      // display: block;
      .browser-ie & {
        max-width: 70vw;
      }
    }
  }

  .link-item {
    display: flex;
    align-items: center;

    &__text {
      display: inline-block;
      padding-left: 16px;
      width: 200px;
      font-size: 16px;
    }

    &__icon {
      width: 44px;

      .icon {
        &-school {
          width: 44px;
          height: 20.96px;
        }
  
        &-user {
          width: 42.72px;
          height: 37.85px;
        }
  
        &-bird {
          width: 41.21px;
          height: 38.31px;
        }
      }
    }
  }
}

.mode-icon {
  font-size: 30px;
  cursor: pointer;
}

.link--red {
  transition: color 0.3s ease-in-out;
  @include hover() {
    color: $red;
  }
}

.menu-tools {
  overflow: visible;
  height: 0;
  z-index: 9999999;
  background: transparent;
  .is-dark & {
    background-color: transparent !important;
  }

  &.is-blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
}

.main-content {
  position: relative;
  &::before {
    content: '';
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    
    opacity: 0;
  }
  &.bg--blur,  {
   &::before {
      display: block;
      opacity: 0.2;
      transition: opacity 0.3s ease;
      z-index: 300;
    }
    @include media-breakpoint-up(tablet) {
      filter: blur(3px);
    }
    // transition: filter 0.3s ease;
    
    
  }
  
  
}

.night-mode {
  display: block;
  .is-dark & {
    display: none;
  }
}

.day-mode {
  display: none;
  .is-dark & {
    display: block;
  }
}