.js-nav-menu.nav-menu
  .nav-menu__head
    .nav-menu__head-inner
      .mode-icon.js-switch-theme.nav-menu__mode
        +svg('night-mode')
        +svg('day-mode')
  div.nav-menu__wrap
    .nav-menu__inner.js-menu-inner
      nav.main-menu.nav-menu__menu.menu-top--animate
        ul.main-menu__list
          li.main-menu__item
            a(href="index.html").main-menu__link.link--red.js-link-services Главная
          li.main-menu__item
            a(href="about.html").main-menu__link.link--red О компании
            a(href="about.html#reviews").main-menu__sublink.link--red.js-menu-anchor Отзывы
            a(href="about.html#publications").main-menu__sublink.link--red.js-menu-anchor Публикации
            a(href="page-articles.html").main-menu__sublink.link--red.js-menu-anchor Статьи
          li.main-menu__item
            a(href="/#services-main").main-menu__link.link--red.js-link-services.js-menu-anchor Услуги
            a(href="digital.html").main-menu__sublink.link--red Digital-разработка
            a(href="up-team.html").main-menu__sublink.link--red Усиление IT-команд
          li.main-menu__item
            a(href="cases.html").main-menu__link.link--red Наши проекты
          li.main-menu__item
            a(href="career.html").main-menu__link.link--red Вакансии
            a(href="about.html" target='_blank').main-menu__sublink.link--red Стажировки
            a(href="career.html#career-culture").main-menu__sublink.link--red.js-menu-anchor Корпоративная культура
          li.main-menu__item
            a(href="/#contacts").main-menu__link.link--red.js-link-contacts.js-menu-anchor Контакты