.preloader {
  background-color: $light-gray;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  top: 0;
  transform: translateX(100%);
  transition: transform 1.2s ease;
  transition-delay: 0.3s;
  overflow: hidden;
  @include media-breakpoint-down(mobile) { 
    touch-action: none;
    height: 100vh;
  }
  &__inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  &__content {
    position: relative;
    vertical-align: middle;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    // position: relative;
    @include media-breakpoint-down(mobile) {
      font-size: 26px;
      text-align: center;
    }
    @include media-breakpoint-up(tablet) {
      transition: transform 1s ease;
      transform: translateX(25%);
      // opacity: 0;
    }
    .is-dark & {
      color: $light-gray;
    }
    &::after {
      content: '';
      display: none;
      position: absolute;
      background-color: $light-gray;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      @include media-breakpoint-up(tablet) {
        display: block;
        transition: transform 0.8s ease;
        transition-delay: 0s;
        transform: translateX(100%);
      }
      
      .is-dark & {
        background-color: $lblack;
      }
    }
  }
  &__item {
    display: inline-block;
    @include media-breakpoint-down(mobile) {
      display: block;
    }
    @include media-breakpoint-only(mobile) {
        &::after {
          content: '';
        display: block;
        position: absolute;
        background-color: $light-gray;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        transform: translateX(100%);
        transition: transform 0.7s ease;
        .is-dark & {
          background-color: $lblack;
        }
      }
    }
  }
  &__title {
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 29px;
    b {
      font-size: 39px;
    }
    &::before {
      content: '|';
      font-size: 34px;
      position: absolute;
      right: -24px;
      font-weight: 300;
      top: 4px;
      color: $gray;
      @include media-breakpoint-down(mobile) {
        display: none;
      }
    }
    @include media-breakpoint-down(mobile) {
      margin-bottom: 20px;
      b {
        font-size: 34px;
      }
    }
    @include media-breakpoint-only(mobile) {
      transition: transform 0.7s ease;
      transform: translateX(25%);
    }
  }
  &__page-title {
    font-weight: 300;
    position: relative;
    margin-left: 40px;
    opacity: 0;
    transition: opacity 0.2s;
    &--show{
      opacity: 1;
    }
    @include media-breakpoint-down(mobile) {
      margin-left: 0;
    }
    @include media-breakpoint-only(mobile) {
      transition: transform 0.5s;
      transition-delay: 0.1s;
      transform: translateX(25%);
      &::after {
        transition-delay: 0.1s;
      }
    }

  }
  .is-dark & {
    background-color: $lblack;
  }
}

.preloader {
  &.is-active {
    transform: translateX(0);
    .preloader__content {
      transform: translateX(0);
      &::after {
        @include media-breakpoint-up(tablet) {
          left: -100%;
          transform: translateX(0);
        }
      }
      // transform: translateX(0);
      // opacity: 1;
    }
    @include media-breakpoint-only(mobile) {
      .preloader__item {
        &::after {
          transform: translateX(0);
        }
      }
      .preloader__title {
        transform: translateX(0);
        
      } 
      .preloader__page-title {
        transform: translateX(0);
      }
      
    }
  }
}

.text-blink-animate {
  animation: blinkLight 3s linear infinite;
  animation-delay: 1s;
  .is-dark & {
    animation: blinkDark 3s linear infinite;
    animation-delay: 1s;
  }
}

@keyframes blinkLight {
  0% {
     color: $lblack; 
  }
  50% { 
    color: transparent;; 
  }
  100% { 
    opacity: $lblack;
  }
}

@keyframes blinkDark {
  0% {
     color: $light-gray; 
  }
  50% { 
    color: transparent;; 
  }
  100% { 
    opacity: $light-gray;
  }
}
