-
    var preloaderPageName
    switch (pageName) {
        case "index":
            preloaderPageName = "Главная";
            break;
        case "cases":
            preloaderPageName = "Наши проекты";
            break;
        case "career":
            preloaderPageName = "Вакансии";
            break;
        case "career-detail":
            preloaderPageName = "Frontend-разработчик"
            break;
        case "about":
            preloaderPageName = "О компании"
            break;
        case "corp-portals":
            preloaderPageName = "Разработка корпоративных порталов"
            break;
        case "up-team":
            preloaderPageName = "Усиление IT-команд"
            break;
        case "digital":
            preloaderPageName = "Digital-разработка"
            break;
        case "articles":
            preloaderPageName = "Статьи"
            break;
    }

.preloader.js-preloader.is-active
    .preloader__inner
        span.preloader__content.text-blink-animate
            span.preloader__title.preloader__item <b>H</b>awking <b>B</b>ros.
            span.preloader__page-title.preloader__item= preloaderPageName