.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: $white;
  height: 102px;
  top: 0;
  transition: height 0.3s ease 0.3s, box-shadow 0.6s ease 0.3s;
  
  &::before {
    content: '';
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0;
  }
  // &::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   left: 0;
  //   top: 98%;
  //   right: 0;
  //   width: 100%;
  //   height: 3px;
    
  // }
  .is-dark & {
    background-color: $black;
  }
  &--main {
    &.is-blur {
      @include media-breakpoint-up(tablet) {
        filter: blur(3px);
      }
      &::before {
        display: block;
        opacity: 0.2;
        transition: opacity 0.3s ease;
      }
    }
  }
  &__inner {
    display: flex;
    position: relative;
    padding-top: 30px;
    .menu-tools & {
      overflow: visible;
      height: 0;
      padding: 0;
    }
    @include media-breakpoint-down(mobile) {
      padding: 26px 0;
    }
    .menu-tools & {
      justify-content: flex-end;
    }
  }
  &__logo {
    position: relative;
  }
  &__tools {
    display: flex;
    align-items: center;
    position: absolute;
    top: 44px;
    right: 0;
    @include media-breakpoint-down(mobile) {
      top: 30px;
    }
  }
  &__lang {
    margin-right: 47px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    position: relative;
    top: -0.3em;
    @include media-breakpoint-down(mobile) {
      margin-right: 32px;
    }
  }
}

.burger-wrap {
  cursor: pointer;
  height: 25px;
  
  @include media-breakpoint-down(mobile) {
    .header.is-fixed & {
      // padding-top: 18px;
    }
  }
}

.burger {
  position: relative;
  height: 16px;
  width: 34px;
  transform: translateZ(0);
  @include media-breakpoint-down(mobile) {
    width: 30px;
  }
  &__bar {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: $black;
    transform-origin: 50% 50%;
    //transition: transform 0.2s ease, top 0.2s ease 0.1s;
    transition: transform 0.2s ease;
    .is-active & {
      //transition: top 0.2s ease, transform 0.2s ease 0.1s;
      transition: transform 0.2s ease;
    }
    .is-dark & {
      background-color: $white;
    }
    &--1 {
      top: 0;
      transform: rotate(0deg);
      will-change: transform;
      .is-active & {
        //top: calc(50% - 3px);
        transform: rotate(45deg) translate(3px, 2px);
      }
    }
    &--2 {
      top: calc(100% - 3px);
      transform: rotate(0deg);
      will-change: transform;
      .is-active & {
        //top: calc(50% - 3px);
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

.logo {
  fill: $black;
  .is-dark & {
    fill: $white;
  }
  &__pic {
    font-size: 50px;
    @include media-breakpoint-down(mobile) {
      font-size: 40px;
    }
  }
  
}

.header {
  position: absolute;
}
.header.is-fixed {
  position: fixed;
  transition: box-shadow 0.6s ease 0.3s;
  @include media-breakpoint-down(mobile) {
    height: 75px;
    .header__inner {
      padding: 23px 0 0;
    }
  }
}

.menu-tools.is-fixed {
  @include media-breakpoint-down(mobile) {
    height: 0;
    .header__inner {
      padding: 0;
    }
  }
}

.header.is-show {
  transform: translateY(0%);
  transition: transform 0.3s ease;
}
.header.is-hide {
  transform: translateY(-150px);
  transition: transform 0.3s ease;
}

.header--shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    .is-dark & {
      box-shadow: 0 2px 4px 0 rgba(#4a4a4a ,0.8);
    }
  &::after {
    
  }
  
  
}