header.header.js-header.header--main
  .container.container--wide
    .header__inner
      .header__logo
        a(href="/").logo
          .logo__pic
            +svg('logo')
        include ../breadcrumbs/_breadcrumbs.pug 
.header.menu-tools.js-menu-tools
  .container.container--wide
    .header__inner
      .header__tools
        a(href="#").header__lang.lang EN
        .burger-wrap.js-burger
          .burger
            .burger__bar.burger__bar--1
            .burger__bar.burger__bar--2