section.corp-portals-steps
  .container
    h2.title.section-title.section-title--corp-portals Этапы разработки и внедрения корпоративного портала
    .corp-portals-steps__wrapper-list
        .corp-portals-steps__timeline
            .corp-portals-steps__timeline-fill
        ul.corp-portals-steps__list
            li.corp-portals-steps__item
                p.corp-portals-steps__name
                    span.corp-portals-steps__list-counter 1. 
                    | Анализ бизнес-процессов вашей компании.<br>Сбор требований
                .corp-portals-steps__circle
            li.corp-portals-steps__item
                p.corp-portals-steps__name
                    span.corp-portals-steps__list-counter 2. 
                    | Выбор стэка технологии и подбор команды проекта
                .corp-portals-steps__circle
            li.corp-portals-steps__item
                p.corp-portals-steps__name
                    span.corp-portals-steps__list-counter 3. 
                    | Составление календарного плана и этапов разработки
                .corp-portals-steps__circle
            li.corp-portals-steps__item
                p.corp-portals-steps__name
                    span.corp-portals-steps__list-counter 4. 
                    | Разработка
                .corp-portals-steps__circle
            li.corp-portals-steps__item
                p.corp-portals-steps__name
                    span.corp-portals-steps__list-counter 5. 
                    | Тестирование и отладка
                .corp-portals-steps__circle
            li.corp-portals-steps__item
                p.corp-portals-steps__name
                    span.corp-portals-steps__list-counter 6. 
                    | Обучение фокус-группы.<br>Сбор обратной связи
                .corp-portals-steps__circle
            li.corp-portals-steps__item
                p.corp-portals-steps__name
                    span.corp-portals-steps__list-counter 7. 
                    | Внедрение пожеланий фокус-группы.<br>Написание документации
                .corp-portals-steps__circle
            li.corp-portals-steps__item
                p.corp-portals-steps__name
                    span.corp-portals-steps__list-counter 8. 
                    | Ввод в промышленную эксплуатацию
                .corp-portals-steps__circle
                