.corp-portals-steps {
    padding-top: 50px;
    padding-bottom: 50px;
    @include media-breakpoint-down(mobile) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &__wrapper-list {
        position: relative;
        margin-top: 50px;
        transform: translateZ(0);
    }
    &__timeline {
        position: absolute;
        top: 82px;
        left: 50%;
        width: 2px;
        height: 100%;
        background-color: #c8c8c8;
        transform: translateX(-50%);
        overflow-y: hidden;
        @include media-breakpoint-down(mobile) {
            top: 82px;
            left: 0;
        }
        &-fill {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: $red;
        }
    }
    &__list {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    &__item {
        position: relative;
        max-width: calc(50% - 20px);
        width: 100%;
        padding: 50px;
        background-color: $light-gray;
        opacity: 0;
        transition: opacity 1s;
        @include media-breakpoint-down(tablet) {
            padding: 30px;
        }
        @include media-breakpoint-down(mobile) {
            max-width: calc(100% - 20px);
            padding: 20px;
        }
        &.fade-in {
            opacity: 1;
        }
        &:not(:last-child) {
            margin-bottom: 50px;
            @include media-breakpoint-down(mobile) {
                margin-bottom: 20px;
            }
        }
        &:nth-child(even) {
            align-self: flex-end;
            & .corp-portals-steps__circle {
                left: -32px;
                &::before {
                    right: -6px;
                    left: auto;
                    transform: translate(50%, -50%) rotate(180deg);
                }
            }
        }
        &:nth-child(odd) {
            @include media-breakpoint-down(mobile) {
                align-self: flex-end;
            }
            & .corp-portals-steps__circle {
                right: -32px;
                @include media-breakpoint-down(mobile) {
                    right: auto;
                    left: -32px;
                }
            }
        }
        .is-dark & {
            background-color: $lblack;
        }
    }
    &__circle {
        position: absolute;
        top: 50%;
        width: 24px;
        height: 24px;
        background-color: $white;
        border-radius: 50%;
        border: 2px solid #c8c8c8;
        transform: translateY(-50%);
        transition: 0.25s;
        &.is-active {
            background-color: $red;
            border-color: $red;
            box-shadow: inset 0 0 0 3px $white;
            &::before {
                border-right-color: $red;
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -6px;
            border: 3px solid transparent;
            border-right: 9px solid #c8c8c8;
            transform: translate(-50%, -50%);
            transition: 0.25s;
            @include media-breakpoint-down(mobile) {
                right: -6px;
                left: auto;
                transform: translate(50%, -50%) rotate(180deg);
            }
        }
    }
    &__name {
        font-family: 'Oswald', sans-serif;
        font-size: 22px;
        @include media-breakpoint-down(mobile) {
            font-size: 18px;
        }
    }
    &__list-counter {
        color: $red;
    }
}