.page-section.services#services-digital
  .container
    h2.title.section-title Как мы работаем
    .services__inner
      .services__item
        .service-card
          .service-card__inner
            .service-card__top
              h3.title.service-card__title Аналитика
              .service-card__icon.service-card__icon--support
                +svg('icon-prototyping')
            .service-card__middle
              p.service-card__descr Проводим предпроектные исследования и глубинные интервью. Выявляем истинные потребности пользователей. Синтезируем полученные данные и готовим задания для проектирования. Осуществляем авторский надзор.
            .service-card__bottom
              ul.technologies
                li.technologies__item BRD
                li.technologies__item MTT
                li.technologies__item Interviews
                li.technologies__item CJM
                li.technologies__item Audits
      .services__item
        .service-card
          .service-card__inner
            .service-card__top
              h3.title.service-card__title UX / UI
              .service-card__icon.service-card__icon--ui
                +svg('icon-illustration')
            .service-card__middle
              p.service-card__descr Проектируем интерфейсы основанные на данных и пишем Use-кейсы. Разрабатываем карты пути пользователя. Проводим usability-аудиты.
            .service-card__bottom
              ul.technologies
                li.technologies__item Sketch
                li.technologies__item Axure
                li.technologies__item Moqup
                li.technologies__item MindMup
      .services__item
        .service-card
          .service-card__inner
            .service-card__top
              h3.title.service-card__title Дизайн
              .service-card__icon.service-card__icon--wdesign
                +svg('icon-branding')
            .service-card__middle
              p.service-card__descr Готовим дизайн-концепции. Предоставляем услуги по веб-дизайну, а также работаем в коллаборациях с ведущими студиями страны. Выполняем задачи по дизайн-поддержке проектов.
            .service-card__bottom
              ul.technologies
                li.technologies__item Photoshop
                li.technologies__item Illustrator
                li.technologies__item Figma
      .services__item
        .service-card
          .service-card__inner
            .service-card__top
              h3.title.service-card__title Backend
              .service-card__icon
                +svg('icon-development')

            .service-card__middle
              p.service-card__descr Разрабатываем надежный бэкенд с использованием современных CMS и Framework. Пишем собственные API и проводим интеграции с любыми внешними системами. Проектируем базы данных.
            .service-card__bottom
              ul.technologies
                li.technologies__item PHP7
                li.technologies__item Laravel
                li.technologies__item Symfony
                li.technologies__item Bitrix
                li.technologies__item Elasticsearch
                li.technologies__item Sphinx
                li.technologies__item XML
                li.technologies__item MySQL
                li.technologies__item RabbitMQ
                li.technologies__item Apache
                li.technologies__item Kafka
                li.technologies__item PostgreSQL
                li.technologies__item Docker

      .services__item
        .service-card
          .service-card__inner
            .service-card__top
              h3.title.service-card__title Frontend
              .service-card__icon
                +svg('icon-front')
            .service-card__middle
              p.service-card__descr Работаем как со статичной версткой, так и современными JS Framework. Создаем SPA. Делаем сложные анимации с оптимальной скоростью загрузки. Адаптируем сайты под различные устройства и разрешения экранов.
            .service-card__bottom
              ul.technologies
                li.technologies__item HTML5 + CSS3
                li.technologies__item Sass
                li.technologies__item React
                li.technologies__item Vue
                li.technologies__item Redux
                li.technologies__item Webpack
                li.technologies__item Gulp
                li.technologies__item Canvas
                li.technologies__item WebGL
      .services__item
        .service-card
          .service-card__inner
            .service-card__top
              h3.title.service-card__title QA
              .service-card__icon.service-card__icon--qa
                +svg('icon-webdesign')
            .service-card__middle
              p.service-card__descr Тестируем разработанные системы. Улучшаем работу отделов Backend и Frontend. Держим баланс между здоровым перфекционизмом и интересами бизнеса клиента. Составляем прозрачные тест-кейсы и понятные баг-листы.
            .service-card__bottom
              ul.technologies
                li.technologies__item Functional
                li.technologies__item Performance
                li.technologies__item Regression
                li.technologies__item Smoke
                li.technologies__item Load

