.popup.js-project-popup(data-popup="nezlobin")
  .popup__inner
    .popup__window
      .project-details
        .project-details__top
          .project-details__image.picture(data-src="assets/images/content/cases/nezlob.png").js-lazy
          .project-details__top-left
            .project-details__heading 
              span.title Александр Незлобин
            .project-details__info
              .item
                span.item__subtitle Объем по проекту
                span.item__subdescription >360 часов
              .item
                span.item__subtitle Срок проекта
                span.item__subdescription 2 месяца
              .item
                span.item__subtitle Технологический стек решения
                ul.technologies
                  li.technologies__item PHP  
                  li.technologies__item JavaScript 
                  li.technologies__item Bitrix
            .links
              .link--arrow.project-details__link
                a(href="https://nezlobin.com/" target="_blank") Перейти на сайт
                  span.arrow-right.title__arrow
                    div.arrow-right__main
                      <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M11.8392542,4.29468821 C11.6576241,4.11273181 11.4573429,3.91225485 11.2621896,3.71698947 C11.0714256,3.52633751 10.8740463,3.32915394 10.6920899,3.14752391 C10.6844981,3.13993059 10.6771296,3.13230546 10.6699811,3.12465172 C10.4276255,2.88231897 10.261265,2.71605929 10.261265,2.71605929 C9.80519269,2.26062672 9.13974961,2.26109476 8.68399719,2.71684718 C8.68399719,2.71684718 6.81961299,4.57862432 6.14045633,5.26038804 C6.08488599,5.31564177 6.02692399,5.35751046 5.96813597,5.38755809 C5.79125121,5.5644789 5.67735248,5.67845 5.67735248,5.67845 C5.24231608,6.1134864 5.22238796,6.79996535 5.67814037,7.25571776 L6.46081962,8.03839701 C7.02468161,8.602259 6.2127847,9.40361196 5.65419469,8.84502195 L4.87124685,8.06261129 C3.98072662,7.17155388 3.98045803,5.76313318 4.87124685,4.87234437 C5.76203566,3.98155555 5.60001746,4.1433001 6.40890898,3.33490116 C6.46662979,3.27785616 6.52614667,3.23355235 6.58606963,3.20060089 C7.00566884,2.78095359 7.43367238,2.35311761 7.87710366,1.90995365 C8.76816107,1.01943343 10.1764723,1.0192743 11.0673706,1.90995365 C11.7113542,2.55377898 11.8269143,2.6692667 12.1468306,2.98934105 C12.3529635,3.19545266 12.5134648,3.35604788 13.0353924,3.87797546 C13.9261812,4.76876427 13.9259126,6.17718497 13.0353924,7.06824238 L12.9153572,7.18774043 C12.3567671,7.74633044 11.5448702,6.94497748 12.1087322,6.38111549 L12.2284989,6.26134885 C12.6842513,5.80559644 12.6643232,5.11911749 12.2292868,4.68408109 C12.2292868,4.68408109 12.0819061,4.53660675 11.8620839,4.31675727 C11.8544444,4.30962118 11.8468334,4.30226589 11.8392542,4.29468821 Z M3.08432091,10.6288869 C3.26595094,10.8108433 3.46623217,11.0113202 3.66138545,11.2065856 C3.85214952,11.3972376 4.04952881,11.5944212 4.23148522,11.7760512 C4.23907694,11.7836445 4.24644545,11.7912696 4.25359394,11.7989234 C4.4959496,12.0412561 4.66231014,12.2075158 4.66231014,12.2075158 C5.11838241,12.6629484 5.78382548,12.6624803 6.2395779,12.2067279 C6.2395779,12.2067279 8.1039621,10.3449508 8.78311876,9.66318705 C8.8386891,9.60793332 8.89665111,9.56606463 8.95543912,9.536017 C9.13232388,9.35909619 9.24622261,9.24512509 9.24622261,9.24512509 C9.68125901,8.81008869 9.70118714,8.12360974 9.24543472,7.66785733 L8.46275547,6.88517808 C7.89889348,6.32131609 8.71079039,5.51996313 9.2693804,6.07855314 L10.0523282,6.8609638 C10.9428485,7.75202121 10.9431171,9.16044191 10.0523282,10.0512307 C9.16153943,10.9420195 9.32355763,10.780275 8.51466611,11.5886739 C8.4569453,11.6457189 8.39742842,11.6900227 8.33750546,11.7229742 C7.91790625,12.1426215 7.48990271,12.5704575 7.04647143,13.0136214 C6.15541402,13.9041417 4.74710278,13.9043008 3.8562045,13.0136214 C3.21222093,12.3697961 3.09666076,12.2543084 2.77674444,11.934234 C2.57061156,11.7281224 2.41011028,11.5675272 1.8881827,11.0455996 C0.997393885,10.1548108 0.997662478,8.74639012 1.8881827,7.85533271 L2.00821794,7.73583466 C2.56680795,7.17724465 3.37870485,7.97859761 2.81484287,8.5424596 L2.69507623,8.66222624 C2.23932381,9.11797865 2.25925194,9.8044576 2.69428834,10.239494 C2.69428834,10.239494 2.84166902,10.3869683 3.06149119,10.6068178 C3.06913068,10.6139539 3.07674165,10.6213092 3.08432091,10.6288869 Z" id="path-1"></path></defs><g id="Main" stroke="none" stroke-width="1" fill-rule="evenodd"><g id="Main-v.1-Dark" transform="translate(-219.000000, -1978.000000)"><g id="Group-2" transform="translate(100.000000, 1889.000000)"><g id="Group" transform="translate(0.000000, 88.000000)"><g id="Icons/Link" transform="translate(120.000000, 2.000000)"><g id="ic_link"><rect id="Bg" stroke="#50E3C2" stroke-width="0.01" fill-opacity="0.01" fill="#030303" opacity="0.00999999978" x="0" y="0" width="15" height="15" rx="3"></rect><mask id="mask-2" fill="white"><use xlink:href="#path-1"></use></mask><use id="Shape" xlink:href="#path-1"></use></g></g></g></g></g></g></svg>
                      div.arrow-right__fill-wrap
                        div.arrow-right__fill
                          <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M11.8392542,4.29468821 C11.6576241,4.11273181 11.4573429,3.91225485 11.2621896,3.71698947 C11.0714256,3.52633751 10.8740463,3.32915394 10.6920899,3.14752391 C10.6844981,3.13993059 10.6771296,3.13230546 10.6699811,3.12465172 C10.4276255,2.88231897 10.261265,2.71605929 10.261265,2.71605929 C9.80519269,2.26062672 9.13974961,2.26109476 8.68399719,2.71684718 C8.68399719,2.71684718 6.81961299,4.57862432 6.14045633,5.26038804 C6.08488599,5.31564177 6.02692399,5.35751046 5.96813597,5.38755809 C5.79125121,5.5644789 5.67735248,5.67845 5.67735248,5.67845 C5.24231608,6.1134864 5.22238796,6.79996535 5.67814037,7.25571776 L6.46081962,8.03839701 C7.02468161,8.602259 6.2127847,9.40361196 5.65419469,8.84502195 L4.87124685,8.06261129 C3.98072662,7.17155388 3.98045803,5.76313318 4.87124685,4.87234437 C5.76203566,3.98155555 5.60001746,4.1433001 6.40890898,3.33490116 C6.46662979,3.27785616 6.52614667,3.23355235 6.58606963,3.20060089 C7.00566884,2.78095359 7.43367238,2.35311761 7.87710366,1.90995365 C8.76816107,1.01943343 10.1764723,1.0192743 11.0673706,1.90995365 C11.7113542,2.55377898 11.8269143,2.6692667 12.1468306,2.98934105 C12.3529635,3.19545266 12.5134648,3.35604788 13.0353924,3.87797546 C13.9261812,4.76876427 13.9259126,6.17718497 13.0353924,7.06824238 L12.9153572,7.18774043 C12.3567671,7.74633044 11.5448702,6.94497748 12.1087322,6.38111549 L12.2284989,6.26134885 C12.6842513,5.80559644 12.6643232,5.11911749 12.2292868,4.68408109 C12.2292868,4.68408109 12.0819061,4.53660675 11.8620839,4.31675727 C11.8544444,4.30962118 11.8468334,4.30226589 11.8392542,4.29468821 Z M3.08432091,10.6288869 C3.26595094,10.8108433 3.46623217,11.0113202 3.66138545,11.2065856 C3.85214952,11.3972376 4.04952881,11.5944212 4.23148522,11.7760512 C4.23907694,11.7836445 4.24644545,11.7912696 4.25359394,11.7989234 C4.4959496,12.0412561 4.66231014,12.2075158 4.66231014,12.2075158 C5.11838241,12.6629484 5.78382548,12.6624803 6.2395779,12.2067279 C6.2395779,12.2067279 8.1039621,10.3449508 8.78311876,9.66318705 C8.8386891,9.60793332 8.89665111,9.56606463 8.95543912,9.536017 C9.13232388,9.35909619 9.24622261,9.24512509 9.24622261,9.24512509 C9.68125901,8.81008869 9.70118714,8.12360974 9.24543472,7.66785733 L8.46275547,6.88517808 C7.89889348,6.32131609 8.71079039,5.51996313 9.2693804,6.07855314 L10.0523282,6.8609638 C10.9428485,7.75202121 10.9431171,9.16044191 10.0523282,10.0512307 C9.16153943,10.9420195 9.32355763,10.780275 8.51466611,11.5886739 C8.4569453,11.6457189 8.39742842,11.6900227 8.33750546,11.7229742 C7.91790625,12.1426215 7.48990271,12.5704575 7.04647143,13.0136214 C6.15541402,13.9041417 4.74710278,13.9043008 3.8562045,13.0136214 C3.21222093,12.3697961 3.09666076,12.2543084 2.77674444,11.934234 C2.57061156,11.7281224 2.41011028,11.5675272 1.8881827,11.0455996 C0.997393885,10.1548108 0.997662478,8.74639012 1.8881827,7.85533271 L2.00821794,7.73583466 C2.56680795,7.17724465 3.37870485,7.97859761 2.81484287,8.5424596 L2.69507623,8.66222624 C2.23932381,9.11797865 2.25925194,9.8044576 2.69428834,10.239494 C2.69428834,10.239494 2.84166902,10.3869683 3.06149119,10.6068178 C3.06913068,10.6139539 3.07674165,10.6213092 3.08432091,10.6288869 Z" id="path-1"></path></defs><g id="Main" stroke="none" stroke-width="1"  fill-rule="evenodd"><g id="Main-v.1-Dark" transform="translate(-219.000000, -1978.000000)"><g id="Group-2" transform="translate(100.000000, 1889.000000)"><g id="Group" transform="translate(0.000000, 88.000000)"><g id="Icons/Link" transform="translate(120.000000, 2.000000)"><g id="ic_link"><rect id="Bg" stroke="#50E3C2" stroke-width="0.01" fill-opacity="0.01" fill="#030303" opacity="0.00999999978" x="0" y="0" width="15" height="15" rx="3"></rect><mask id="mask-2" fill="white"><use xlink:href="#path-1"></use></mask><use id="Shape" xlink:href="#path-1"></use></g></g></g></g></g></g></svg>
              .link--arrow.project-details__link
                a(href="https://nezlobin.com/" target="_blank") Подробное описание проекта
                  span.arrow-right.title__arrow
                    div.arrow-right__main
                      <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M11.8392542,4.29468821 C11.6576241,4.11273181 11.4573429,3.91225485 11.2621896,3.71698947 C11.0714256,3.52633751 10.8740463,3.32915394 10.6920899,3.14752391 C10.6844981,3.13993059 10.6771296,3.13230546 10.6699811,3.12465172 C10.4276255,2.88231897 10.261265,2.71605929 10.261265,2.71605929 C9.80519269,2.26062672 9.13974961,2.26109476 8.68399719,2.71684718 C8.68399719,2.71684718 6.81961299,4.57862432 6.14045633,5.26038804 C6.08488599,5.31564177 6.02692399,5.35751046 5.96813597,5.38755809 C5.79125121,5.5644789 5.67735248,5.67845 5.67735248,5.67845 C5.24231608,6.1134864 5.22238796,6.79996535 5.67814037,7.25571776 L6.46081962,8.03839701 C7.02468161,8.602259 6.2127847,9.40361196 5.65419469,8.84502195 L4.87124685,8.06261129 C3.98072662,7.17155388 3.98045803,5.76313318 4.87124685,4.87234437 C5.76203566,3.98155555 5.60001746,4.1433001 6.40890898,3.33490116 C6.46662979,3.27785616 6.52614667,3.23355235 6.58606963,3.20060089 C7.00566884,2.78095359 7.43367238,2.35311761 7.87710366,1.90995365 C8.76816107,1.01943343 10.1764723,1.0192743 11.0673706,1.90995365 C11.7113542,2.55377898 11.8269143,2.6692667 12.1468306,2.98934105 C12.3529635,3.19545266 12.5134648,3.35604788 13.0353924,3.87797546 C13.9261812,4.76876427 13.9259126,6.17718497 13.0353924,7.06824238 L12.9153572,7.18774043 C12.3567671,7.74633044 11.5448702,6.94497748 12.1087322,6.38111549 L12.2284989,6.26134885 C12.6842513,5.80559644 12.6643232,5.11911749 12.2292868,4.68408109 C12.2292868,4.68408109 12.0819061,4.53660675 11.8620839,4.31675727 C11.8544444,4.30962118 11.8468334,4.30226589 11.8392542,4.29468821 Z M3.08432091,10.6288869 C3.26595094,10.8108433 3.46623217,11.0113202 3.66138545,11.2065856 C3.85214952,11.3972376 4.04952881,11.5944212 4.23148522,11.7760512 C4.23907694,11.7836445 4.24644545,11.7912696 4.25359394,11.7989234 C4.4959496,12.0412561 4.66231014,12.2075158 4.66231014,12.2075158 C5.11838241,12.6629484 5.78382548,12.6624803 6.2395779,12.2067279 C6.2395779,12.2067279 8.1039621,10.3449508 8.78311876,9.66318705 C8.8386891,9.60793332 8.89665111,9.56606463 8.95543912,9.536017 C9.13232388,9.35909619 9.24622261,9.24512509 9.24622261,9.24512509 C9.68125901,8.81008869 9.70118714,8.12360974 9.24543472,7.66785733 L8.46275547,6.88517808 C7.89889348,6.32131609 8.71079039,5.51996313 9.2693804,6.07855314 L10.0523282,6.8609638 C10.9428485,7.75202121 10.9431171,9.16044191 10.0523282,10.0512307 C9.16153943,10.9420195 9.32355763,10.780275 8.51466611,11.5886739 C8.4569453,11.6457189 8.39742842,11.6900227 8.33750546,11.7229742 C7.91790625,12.1426215 7.48990271,12.5704575 7.04647143,13.0136214 C6.15541402,13.9041417 4.74710278,13.9043008 3.8562045,13.0136214 C3.21222093,12.3697961 3.09666076,12.2543084 2.77674444,11.934234 C2.57061156,11.7281224 2.41011028,11.5675272 1.8881827,11.0455996 C0.997393885,10.1548108 0.997662478,8.74639012 1.8881827,7.85533271 L2.00821794,7.73583466 C2.56680795,7.17724465 3.37870485,7.97859761 2.81484287,8.5424596 L2.69507623,8.66222624 C2.23932381,9.11797865 2.25925194,9.8044576 2.69428834,10.239494 C2.69428834,10.239494 2.84166902,10.3869683 3.06149119,10.6068178 C3.06913068,10.6139539 3.07674165,10.6213092 3.08432091,10.6288869 Z" id="path-1"></path></defs><g id="Main" stroke="none" stroke-width="1" fill-rule="evenodd"><g id="Main-v.1-Dark" transform="translate(-219.000000, -1978.000000)"><g id="Group-2" transform="translate(100.000000, 1889.000000)"><g id="Group" transform="translate(0.000000, 88.000000)"><g id="Icons/Link" transform="translate(120.000000, 2.000000)"><g id="ic_link"><rect id="Bg" stroke="#50E3C2" stroke-width="0.01" fill-opacity="0.01" fill="#030303" opacity="0.00999999978" x="0" y="0" width="15" height="15" rx="3"></rect><mask id="mask-2" fill="white"><use xlink:href="#path-1"></use></mask><use id="Shape" xlink:href="#path-1"></use></g></g></g></g></g></g></svg>
                      div.arrow-right__fill-wrap
                        div.arrow-right__fill
                          <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M11.8392542,4.29468821 C11.6576241,4.11273181 11.4573429,3.91225485 11.2621896,3.71698947 C11.0714256,3.52633751 10.8740463,3.32915394 10.6920899,3.14752391 C10.6844981,3.13993059 10.6771296,3.13230546 10.6699811,3.12465172 C10.4276255,2.88231897 10.261265,2.71605929 10.261265,2.71605929 C9.80519269,2.26062672 9.13974961,2.26109476 8.68399719,2.71684718 C8.68399719,2.71684718 6.81961299,4.57862432 6.14045633,5.26038804 C6.08488599,5.31564177 6.02692399,5.35751046 5.96813597,5.38755809 C5.79125121,5.5644789 5.67735248,5.67845 5.67735248,5.67845 C5.24231608,6.1134864 5.22238796,6.79996535 5.67814037,7.25571776 L6.46081962,8.03839701 C7.02468161,8.602259 6.2127847,9.40361196 5.65419469,8.84502195 L4.87124685,8.06261129 C3.98072662,7.17155388 3.98045803,5.76313318 4.87124685,4.87234437 C5.76203566,3.98155555 5.60001746,4.1433001 6.40890898,3.33490116 C6.46662979,3.27785616 6.52614667,3.23355235 6.58606963,3.20060089 C7.00566884,2.78095359 7.43367238,2.35311761 7.87710366,1.90995365 C8.76816107,1.01943343 10.1764723,1.0192743 11.0673706,1.90995365 C11.7113542,2.55377898 11.8269143,2.6692667 12.1468306,2.98934105 C12.3529635,3.19545266 12.5134648,3.35604788 13.0353924,3.87797546 C13.9261812,4.76876427 13.9259126,6.17718497 13.0353924,7.06824238 L12.9153572,7.18774043 C12.3567671,7.74633044 11.5448702,6.94497748 12.1087322,6.38111549 L12.2284989,6.26134885 C12.6842513,5.80559644 12.6643232,5.11911749 12.2292868,4.68408109 C12.2292868,4.68408109 12.0819061,4.53660675 11.8620839,4.31675727 C11.8544444,4.30962118 11.8468334,4.30226589 11.8392542,4.29468821 Z M3.08432091,10.6288869 C3.26595094,10.8108433 3.46623217,11.0113202 3.66138545,11.2065856 C3.85214952,11.3972376 4.04952881,11.5944212 4.23148522,11.7760512 C4.23907694,11.7836445 4.24644545,11.7912696 4.25359394,11.7989234 C4.4959496,12.0412561 4.66231014,12.2075158 4.66231014,12.2075158 C5.11838241,12.6629484 5.78382548,12.6624803 6.2395779,12.2067279 C6.2395779,12.2067279 8.1039621,10.3449508 8.78311876,9.66318705 C8.8386891,9.60793332 8.89665111,9.56606463 8.95543912,9.536017 C9.13232388,9.35909619 9.24622261,9.24512509 9.24622261,9.24512509 C9.68125901,8.81008869 9.70118714,8.12360974 9.24543472,7.66785733 L8.46275547,6.88517808 C7.89889348,6.32131609 8.71079039,5.51996313 9.2693804,6.07855314 L10.0523282,6.8609638 C10.9428485,7.75202121 10.9431171,9.16044191 10.0523282,10.0512307 C9.16153943,10.9420195 9.32355763,10.780275 8.51466611,11.5886739 C8.4569453,11.6457189 8.39742842,11.6900227 8.33750546,11.7229742 C7.91790625,12.1426215 7.48990271,12.5704575 7.04647143,13.0136214 C6.15541402,13.9041417 4.74710278,13.9043008 3.8562045,13.0136214 C3.21222093,12.3697961 3.09666076,12.2543084 2.77674444,11.934234 C2.57061156,11.7281224 2.41011028,11.5675272 1.8881827,11.0455996 C0.997393885,10.1548108 0.997662478,8.74639012 1.8881827,7.85533271 L2.00821794,7.73583466 C2.56680795,7.17724465 3.37870485,7.97859761 2.81484287,8.5424596 L2.69507623,8.66222624 C2.23932381,9.11797865 2.25925194,9.8044576 2.69428834,10.239494 C2.69428834,10.239494 2.84166902,10.3869683 3.06149119,10.6068178 C3.06913068,10.6139539 3.07674165,10.6213092 3.08432091,10.6288869 Z" id="path-1"></path></defs><g id="Main" stroke="none" stroke-width="1"  fill-rule="evenodd"><g id="Main-v.1-Dark" transform="translate(-219.000000, -1978.000000)"><g id="Group-2" transform="translate(100.000000, 1889.000000)"><g id="Group" transform="translate(0.000000, 88.000000)"><g id="Icons/Link" transform="translate(120.000000, 2.000000)"><g id="ic_link"><rect id="Bg" stroke="#50E3C2" stroke-width="0.01" fill-opacity="0.01" fill="#030303" opacity="0.00999999978" x="0" y="0" width="15" height="15" rx="3"></rect><mask id="mask-2" fill="white"><use xlink:href="#path-1"></use></mask><use id="Shape" xlink:href="#path-1"></use></g></g></g></g></g></g></svg>
          .project-details__close.js-close-popup
            +svg('cross')
        .project-details__inner
          .project-details__description
            .item
              span.item__subtitle Задача
              span Здесь будет крутое описание задачи и оно может быть в несколько строк. Здесь будет крутое описание задачи и оно может быть в несколько строк.
            .item  
              span.item__subtitle Команда проекта
              ul
                li Backend-разработчик x2
                li Frontend-разработчик
                li Менеджер проектов
                li QA
          .project-details__about
            .achievements
              .achievements__inner
                .achievements__item
                  .achievement.--no-hover
                    .achievement__top
                      .achievement__icon.picture
                        span.achievement__icon-text 1С&nbsp;Битрикс
                      .achievement__value
                    .achievement__bottom
                      span.achievement__text Монитор качества
                .achievements__item
                  .achievement.--no-hover
                    .achievement__top
                      .achievement__icon.picture
                        span.achievement__icon-text 24/7
                      .achievement__value
                    .achievement__bottom
                      span.achievement__text SLA 
                .achievements__item
                  .achievement.--no-hover
                    .achievement__top
                      .achievement__icon.picture
                        span.achievement__icon-text Support
                      .achievement__value
                    .achievement__bottom
                      span.achievement__text Поддерживаем и развиваем проект
                .achievements__item
                  .achievement.--no-hover
                    .achievement__top
                      .achievement__icon.picture
                        span.achievement__icon-text.achievement__icon-text--svg
                          +svg('refresh')
                      .achievement__value
                    .achievement__bottom
                      span.achievement__text Внешние интеграции
.popup.js-project-popup(data-popup="s-o")
  .popup__inner
    .popup__window
      .project-details
        .project-details__top
          .project-details__image.picture(data-src="assets/images/content/cases/s-o.png").js-lazy
          .project-details__top-left
            .project-details__heading 
              span.title Сантехника-Онлайн.Ру
            .project-details__info
              .item
                span.item__subtitle Объем по проекту
                span.item__subdescription 360 часов
              .item
                span.item__subtitle Срок проекта
                span.item__subdescription 2 месяца
              .item
                span.item__subtitle Технологический стек решения
                ul.technologies
                  li.technologies__item PHP  
                  li.technologies__item JavaScript 
                  li.technologies__item Bitrix
            .links
              .link--arrow.project-details__link
                a(href="https://santehnika-online.ru/" target="_blank") Перейти на сайт
                  span.arrow-right.title__arrow
                    div.arrow-right__main
                      <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M11.8392542,4.29468821 C11.6576241,4.11273181 11.4573429,3.91225485 11.2621896,3.71698947 C11.0714256,3.52633751 10.8740463,3.32915394 10.6920899,3.14752391 C10.6844981,3.13993059 10.6771296,3.13230546 10.6699811,3.12465172 C10.4276255,2.88231897 10.261265,2.71605929 10.261265,2.71605929 C9.80519269,2.26062672 9.13974961,2.26109476 8.68399719,2.71684718 C8.68399719,2.71684718 6.81961299,4.57862432 6.14045633,5.26038804 C6.08488599,5.31564177 6.02692399,5.35751046 5.96813597,5.38755809 C5.79125121,5.5644789 5.67735248,5.67845 5.67735248,5.67845 C5.24231608,6.1134864 5.22238796,6.79996535 5.67814037,7.25571776 L6.46081962,8.03839701 C7.02468161,8.602259 6.2127847,9.40361196 5.65419469,8.84502195 L4.87124685,8.06261129 C3.98072662,7.17155388 3.98045803,5.76313318 4.87124685,4.87234437 C5.76203566,3.98155555 5.60001746,4.1433001 6.40890898,3.33490116 C6.46662979,3.27785616 6.52614667,3.23355235 6.58606963,3.20060089 C7.00566884,2.78095359 7.43367238,2.35311761 7.87710366,1.90995365 C8.76816107,1.01943343 10.1764723,1.0192743 11.0673706,1.90995365 C11.7113542,2.55377898 11.8269143,2.6692667 12.1468306,2.98934105 C12.3529635,3.19545266 12.5134648,3.35604788 13.0353924,3.87797546 C13.9261812,4.76876427 13.9259126,6.17718497 13.0353924,7.06824238 L12.9153572,7.18774043 C12.3567671,7.74633044 11.5448702,6.94497748 12.1087322,6.38111549 L12.2284989,6.26134885 C12.6842513,5.80559644 12.6643232,5.11911749 12.2292868,4.68408109 C12.2292868,4.68408109 12.0819061,4.53660675 11.8620839,4.31675727 C11.8544444,4.30962118 11.8468334,4.30226589 11.8392542,4.29468821 Z M3.08432091,10.6288869 C3.26595094,10.8108433 3.46623217,11.0113202 3.66138545,11.2065856 C3.85214952,11.3972376 4.04952881,11.5944212 4.23148522,11.7760512 C4.23907694,11.7836445 4.24644545,11.7912696 4.25359394,11.7989234 C4.4959496,12.0412561 4.66231014,12.2075158 4.66231014,12.2075158 C5.11838241,12.6629484 5.78382548,12.6624803 6.2395779,12.2067279 C6.2395779,12.2067279 8.1039621,10.3449508 8.78311876,9.66318705 C8.8386891,9.60793332 8.89665111,9.56606463 8.95543912,9.536017 C9.13232388,9.35909619 9.24622261,9.24512509 9.24622261,9.24512509 C9.68125901,8.81008869 9.70118714,8.12360974 9.24543472,7.66785733 L8.46275547,6.88517808 C7.89889348,6.32131609 8.71079039,5.51996313 9.2693804,6.07855314 L10.0523282,6.8609638 C10.9428485,7.75202121 10.9431171,9.16044191 10.0523282,10.0512307 C9.16153943,10.9420195 9.32355763,10.780275 8.51466611,11.5886739 C8.4569453,11.6457189 8.39742842,11.6900227 8.33750546,11.7229742 C7.91790625,12.1426215 7.48990271,12.5704575 7.04647143,13.0136214 C6.15541402,13.9041417 4.74710278,13.9043008 3.8562045,13.0136214 C3.21222093,12.3697961 3.09666076,12.2543084 2.77674444,11.934234 C2.57061156,11.7281224 2.41011028,11.5675272 1.8881827,11.0455996 C0.997393885,10.1548108 0.997662478,8.74639012 1.8881827,7.85533271 L2.00821794,7.73583466 C2.56680795,7.17724465 3.37870485,7.97859761 2.81484287,8.5424596 L2.69507623,8.66222624 C2.23932381,9.11797865 2.25925194,9.8044576 2.69428834,10.239494 C2.69428834,10.239494 2.84166902,10.3869683 3.06149119,10.6068178 C3.06913068,10.6139539 3.07674165,10.6213092 3.08432091,10.6288869 Z" id="path-1"></path></defs><g id="Main" stroke="none" stroke-width="1" fill-rule="evenodd"><g id="Main-v.1-Dark" transform="translate(-219.000000, -1978.000000)"><g id="Group-2" transform="translate(100.000000, 1889.000000)"><g id="Group" transform="translate(0.000000, 88.000000)"><g id="Icons/Link" transform="translate(120.000000, 2.000000)"><g id="ic_link"><rect id="Bg" stroke="#50E3C2" stroke-width="0.01" fill-opacity="0.01" fill="#030303" opacity="0.00999999978" x="0" y="0" width="15" height="15" rx="3"></rect><mask id="mask-2" fill="white"><use xlink:href="#path-1"></use></mask><use id="Shape" xlink:href="#path-1"></use></g></g></g></g></g></g></svg>
                      div.arrow-right__fill-wrap
                        div.arrow-right__fill
                          <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M11.8392542,4.29468821 C11.6576241,4.11273181 11.4573429,3.91225485 11.2621896,3.71698947 C11.0714256,3.52633751 10.8740463,3.32915394 10.6920899,3.14752391 C10.6844981,3.13993059 10.6771296,3.13230546 10.6699811,3.12465172 C10.4276255,2.88231897 10.261265,2.71605929 10.261265,2.71605929 C9.80519269,2.26062672 9.13974961,2.26109476 8.68399719,2.71684718 C8.68399719,2.71684718 6.81961299,4.57862432 6.14045633,5.26038804 C6.08488599,5.31564177 6.02692399,5.35751046 5.96813597,5.38755809 C5.79125121,5.5644789 5.67735248,5.67845 5.67735248,5.67845 C5.24231608,6.1134864 5.22238796,6.79996535 5.67814037,7.25571776 L6.46081962,8.03839701 C7.02468161,8.602259 6.2127847,9.40361196 5.65419469,8.84502195 L4.87124685,8.06261129 C3.98072662,7.17155388 3.98045803,5.76313318 4.87124685,4.87234437 C5.76203566,3.98155555 5.60001746,4.1433001 6.40890898,3.33490116 C6.46662979,3.27785616 6.52614667,3.23355235 6.58606963,3.20060089 C7.00566884,2.78095359 7.43367238,2.35311761 7.87710366,1.90995365 C8.76816107,1.01943343 10.1764723,1.0192743 11.0673706,1.90995365 C11.7113542,2.55377898 11.8269143,2.6692667 12.1468306,2.98934105 C12.3529635,3.19545266 12.5134648,3.35604788 13.0353924,3.87797546 C13.9261812,4.76876427 13.9259126,6.17718497 13.0353924,7.06824238 L12.9153572,7.18774043 C12.3567671,7.74633044 11.5448702,6.94497748 12.1087322,6.38111549 L12.2284989,6.26134885 C12.6842513,5.80559644 12.6643232,5.11911749 12.2292868,4.68408109 C12.2292868,4.68408109 12.0819061,4.53660675 11.8620839,4.31675727 C11.8544444,4.30962118 11.8468334,4.30226589 11.8392542,4.29468821 Z M3.08432091,10.6288869 C3.26595094,10.8108433 3.46623217,11.0113202 3.66138545,11.2065856 C3.85214952,11.3972376 4.04952881,11.5944212 4.23148522,11.7760512 C4.23907694,11.7836445 4.24644545,11.7912696 4.25359394,11.7989234 C4.4959496,12.0412561 4.66231014,12.2075158 4.66231014,12.2075158 C5.11838241,12.6629484 5.78382548,12.6624803 6.2395779,12.2067279 C6.2395779,12.2067279 8.1039621,10.3449508 8.78311876,9.66318705 C8.8386891,9.60793332 8.89665111,9.56606463 8.95543912,9.536017 C9.13232388,9.35909619 9.24622261,9.24512509 9.24622261,9.24512509 C9.68125901,8.81008869 9.70118714,8.12360974 9.24543472,7.66785733 L8.46275547,6.88517808 C7.89889348,6.32131609 8.71079039,5.51996313 9.2693804,6.07855314 L10.0523282,6.8609638 C10.9428485,7.75202121 10.9431171,9.16044191 10.0523282,10.0512307 C9.16153943,10.9420195 9.32355763,10.780275 8.51466611,11.5886739 C8.4569453,11.6457189 8.39742842,11.6900227 8.33750546,11.7229742 C7.91790625,12.1426215 7.48990271,12.5704575 7.04647143,13.0136214 C6.15541402,13.9041417 4.74710278,13.9043008 3.8562045,13.0136214 C3.21222093,12.3697961 3.09666076,12.2543084 2.77674444,11.934234 C2.57061156,11.7281224 2.41011028,11.5675272 1.8881827,11.0455996 C0.997393885,10.1548108 0.997662478,8.74639012 1.8881827,7.85533271 L2.00821794,7.73583466 C2.56680795,7.17724465 3.37870485,7.97859761 2.81484287,8.5424596 L2.69507623,8.66222624 C2.23932381,9.11797865 2.25925194,9.8044576 2.69428834,10.239494 C2.69428834,10.239494 2.84166902,10.3869683 3.06149119,10.6068178 C3.06913068,10.6139539 3.07674165,10.6213092 3.08432091,10.6288869 Z" id="path-1"></path></defs><g id="Main" stroke="none" stroke-width="1"  fill-rule="evenodd"><g id="Main-v.1-Dark" transform="translate(-219.000000, -1978.000000)"><g id="Group-2" transform="translate(100.000000, 1889.000000)"><g id="Group" transform="translate(0.000000, 88.000000)"><g id="Icons/Link" transform="translate(120.000000, 2.000000)"><g id="ic_link"><rect id="Bg" stroke="#50E3C2" stroke-width="0.01" fill-opacity="0.01" fill="#030303" opacity="0.00999999978" x="0" y="0" width="15" height="15" rx="3"></rect><mask id="mask-2" fill="white"><use xlink:href="#path-1"></use></mask><use id="Shape" xlink:href="#path-1"></use></g></g></g></g></g></g></svg>
              .link--arrow.project-details__link
                a(href="https://santehnika-online.ru/" target="_blank") Подробное описание проекта
                  span.arrow-right.title__arrow
                    div.arrow-right__main
                      <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M11.8392542,4.29468821 C11.6576241,4.11273181 11.4573429,3.91225485 11.2621896,3.71698947 C11.0714256,3.52633751 10.8740463,3.32915394 10.6920899,3.14752391 C10.6844981,3.13993059 10.6771296,3.13230546 10.6699811,3.12465172 C10.4276255,2.88231897 10.261265,2.71605929 10.261265,2.71605929 C9.80519269,2.26062672 9.13974961,2.26109476 8.68399719,2.71684718 C8.68399719,2.71684718 6.81961299,4.57862432 6.14045633,5.26038804 C6.08488599,5.31564177 6.02692399,5.35751046 5.96813597,5.38755809 C5.79125121,5.5644789 5.67735248,5.67845 5.67735248,5.67845 C5.24231608,6.1134864 5.22238796,6.79996535 5.67814037,7.25571776 L6.46081962,8.03839701 C7.02468161,8.602259 6.2127847,9.40361196 5.65419469,8.84502195 L4.87124685,8.06261129 C3.98072662,7.17155388 3.98045803,5.76313318 4.87124685,4.87234437 C5.76203566,3.98155555 5.60001746,4.1433001 6.40890898,3.33490116 C6.46662979,3.27785616 6.52614667,3.23355235 6.58606963,3.20060089 C7.00566884,2.78095359 7.43367238,2.35311761 7.87710366,1.90995365 C8.76816107,1.01943343 10.1764723,1.0192743 11.0673706,1.90995365 C11.7113542,2.55377898 11.8269143,2.6692667 12.1468306,2.98934105 C12.3529635,3.19545266 12.5134648,3.35604788 13.0353924,3.87797546 C13.9261812,4.76876427 13.9259126,6.17718497 13.0353924,7.06824238 L12.9153572,7.18774043 C12.3567671,7.74633044 11.5448702,6.94497748 12.1087322,6.38111549 L12.2284989,6.26134885 C12.6842513,5.80559644 12.6643232,5.11911749 12.2292868,4.68408109 C12.2292868,4.68408109 12.0819061,4.53660675 11.8620839,4.31675727 C11.8544444,4.30962118 11.8468334,4.30226589 11.8392542,4.29468821 Z M3.08432091,10.6288869 C3.26595094,10.8108433 3.46623217,11.0113202 3.66138545,11.2065856 C3.85214952,11.3972376 4.04952881,11.5944212 4.23148522,11.7760512 C4.23907694,11.7836445 4.24644545,11.7912696 4.25359394,11.7989234 C4.4959496,12.0412561 4.66231014,12.2075158 4.66231014,12.2075158 C5.11838241,12.6629484 5.78382548,12.6624803 6.2395779,12.2067279 C6.2395779,12.2067279 8.1039621,10.3449508 8.78311876,9.66318705 C8.8386891,9.60793332 8.89665111,9.56606463 8.95543912,9.536017 C9.13232388,9.35909619 9.24622261,9.24512509 9.24622261,9.24512509 C9.68125901,8.81008869 9.70118714,8.12360974 9.24543472,7.66785733 L8.46275547,6.88517808 C7.89889348,6.32131609 8.71079039,5.51996313 9.2693804,6.07855314 L10.0523282,6.8609638 C10.9428485,7.75202121 10.9431171,9.16044191 10.0523282,10.0512307 C9.16153943,10.9420195 9.32355763,10.780275 8.51466611,11.5886739 C8.4569453,11.6457189 8.39742842,11.6900227 8.33750546,11.7229742 C7.91790625,12.1426215 7.48990271,12.5704575 7.04647143,13.0136214 C6.15541402,13.9041417 4.74710278,13.9043008 3.8562045,13.0136214 C3.21222093,12.3697961 3.09666076,12.2543084 2.77674444,11.934234 C2.57061156,11.7281224 2.41011028,11.5675272 1.8881827,11.0455996 C0.997393885,10.1548108 0.997662478,8.74639012 1.8881827,7.85533271 L2.00821794,7.73583466 C2.56680795,7.17724465 3.37870485,7.97859761 2.81484287,8.5424596 L2.69507623,8.66222624 C2.23932381,9.11797865 2.25925194,9.8044576 2.69428834,10.239494 C2.69428834,10.239494 2.84166902,10.3869683 3.06149119,10.6068178 C3.06913068,10.6139539 3.07674165,10.6213092 3.08432091,10.6288869 Z" id="path-1"></path></defs><g id="Main" stroke="none" stroke-width="1" fill-rule="evenodd"><g id="Main-v.1-Dark" transform="translate(-219.000000, -1978.000000)"><g id="Group-2" transform="translate(100.000000, 1889.000000)"><g id="Group" transform="translate(0.000000, 88.000000)"><g id="Icons/Link" transform="translate(120.000000, 2.000000)"><g id="ic_link"><rect id="Bg" stroke="#50E3C2" stroke-width="0.01" fill-opacity="0.01" fill="#030303" opacity="0.00999999978" x="0" y="0" width="15" height="15" rx="3"></rect><mask id="mask-2" fill="white"><use xlink:href="#path-1"></use></mask><use id="Shape" xlink:href="#path-1"></use></g></g></g></g></g></g></svg>
                      div.arrow-right__fill-wrap
                        div.arrow-right__fill
                          <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M11.8392542,4.29468821 C11.6576241,4.11273181 11.4573429,3.91225485 11.2621896,3.71698947 C11.0714256,3.52633751 10.8740463,3.32915394 10.6920899,3.14752391 C10.6844981,3.13993059 10.6771296,3.13230546 10.6699811,3.12465172 C10.4276255,2.88231897 10.261265,2.71605929 10.261265,2.71605929 C9.80519269,2.26062672 9.13974961,2.26109476 8.68399719,2.71684718 C8.68399719,2.71684718 6.81961299,4.57862432 6.14045633,5.26038804 C6.08488599,5.31564177 6.02692399,5.35751046 5.96813597,5.38755809 C5.79125121,5.5644789 5.67735248,5.67845 5.67735248,5.67845 C5.24231608,6.1134864 5.22238796,6.79996535 5.67814037,7.25571776 L6.46081962,8.03839701 C7.02468161,8.602259 6.2127847,9.40361196 5.65419469,8.84502195 L4.87124685,8.06261129 C3.98072662,7.17155388 3.98045803,5.76313318 4.87124685,4.87234437 C5.76203566,3.98155555 5.60001746,4.1433001 6.40890898,3.33490116 C6.46662979,3.27785616 6.52614667,3.23355235 6.58606963,3.20060089 C7.00566884,2.78095359 7.43367238,2.35311761 7.87710366,1.90995365 C8.76816107,1.01943343 10.1764723,1.0192743 11.0673706,1.90995365 C11.7113542,2.55377898 11.8269143,2.6692667 12.1468306,2.98934105 C12.3529635,3.19545266 12.5134648,3.35604788 13.0353924,3.87797546 C13.9261812,4.76876427 13.9259126,6.17718497 13.0353924,7.06824238 L12.9153572,7.18774043 C12.3567671,7.74633044 11.5448702,6.94497748 12.1087322,6.38111549 L12.2284989,6.26134885 C12.6842513,5.80559644 12.6643232,5.11911749 12.2292868,4.68408109 C12.2292868,4.68408109 12.0819061,4.53660675 11.8620839,4.31675727 C11.8544444,4.30962118 11.8468334,4.30226589 11.8392542,4.29468821 Z M3.08432091,10.6288869 C3.26595094,10.8108433 3.46623217,11.0113202 3.66138545,11.2065856 C3.85214952,11.3972376 4.04952881,11.5944212 4.23148522,11.7760512 C4.23907694,11.7836445 4.24644545,11.7912696 4.25359394,11.7989234 C4.4959496,12.0412561 4.66231014,12.2075158 4.66231014,12.2075158 C5.11838241,12.6629484 5.78382548,12.6624803 6.2395779,12.2067279 C6.2395779,12.2067279 8.1039621,10.3449508 8.78311876,9.66318705 C8.8386891,9.60793332 8.89665111,9.56606463 8.95543912,9.536017 C9.13232388,9.35909619 9.24622261,9.24512509 9.24622261,9.24512509 C9.68125901,8.81008869 9.70118714,8.12360974 9.24543472,7.66785733 L8.46275547,6.88517808 C7.89889348,6.32131609 8.71079039,5.51996313 9.2693804,6.07855314 L10.0523282,6.8609638 C10.9428485,7.75202121 10.9431171,9.16044191 10.0523282,10.0512307 C9.16153943,10.9420195 9.32355763,10.780275 8.51466611,11.5886739 C8.4569453,11.6457189 8.39742842,11.6900227 8.33750546,11.7229742 C7.91790625,12.1426215 7.48990271,12.5704575 7.04647143,13.0136214 C6.15541402,13.9041417 4.74710278,13.9043008 3.8562045,13.0136214 C3.21222093,12.3697961 3.09666076,12.2543084 2.77674444,11.934234 C2.57061156,11.7281224 2.41011028,11.5675272 1.8881827,11.0455996 C0.997393885,10.1548108 0.997662478,8.74639012 1.8881827,7.85533271 L2.00821794,7.73583466 C2.56680795,7.17724465 3.37870485,7.97859761 2.81484287,8.5424596 L2.69507623,8.66222624 C2.23932381,9.11797865 2.25925194,9.8044576 2.69428834,10.239494 C2.69428834,10.239494 2.84166902,10.3869683 3.06149119,10.6068178 C3.06913068,10.6139539 3.07674165,10.6213092 3.08432091,10.6288869 Z" id="path-1"></path></defs><g id="Main" stroke="none" stroke-width="1"  fill-rule="evenodd"><g id="Main-v.1-Dark" transform="translate(-219.000000, -1978.000000)"><g id="Group-2" transform="translate(100.000000, 1889.000000)"><g id="Group" transform="translate(0.000000, 88.000000)"><g id="Icons/Link" transform="translate(120.000000, 2.000000)"><g id="ic_link"><rect id="Bg" stroke="#50E3C2" stroke-width="0.01" fill-opacity="0.01" fill="#030303" opacity="0.00999999978" x="0" y="0" width="15" height="15" rx="3"></rect><mask id="mask-2" fill="white"><use xlink:href="#path-1"></use></mask><use id="Shape" xlink:href="#path-1"></use></g></g></g></g></g></g></svg>
          .project-details__close.js-close-popup
            +svg('cross')
        .project-details__inner
          .project-details__description
            .item
              span.item__subtitle Задача
              span Разработка и ввод в эксплуатацию высоконагруженного интернет-магазина с большим количеством интеграций
            .item  
              span.item__subtitle Команда проекта
              ul
                li Frontend-тимлид
                li Backend-тимлид
                li Frontend-разработчик х3
                li Backend-разработчик х3
                li QA-специалист
          .project-details__about
            .achievements
              .achievements__inner
                .achievements__item
                  .achievement.--no-hover
                    .achievement__top
                      .achievement__icon.picture
                        span.achievement__icon-text 1С&nbsp;Битрикс
                      .achievement__value
                    .achievement__bottom
                      span.achievement__text Монитор качества
                .achievements__item
                  .achievement.--no-hover
                    .achievement__top
                      .achievement__icon.picture
                        span.achievement__icon-text Support
                      .achievement__value
                    .achievement__bottom
                      span.achievement__text Развитие проекта
                .achievements__item
                  .achievement.--no-hover
                    .achievement__top
                      .achievement__icon.picture
                        span.achievement__icon-text 24/7
                      .achievement__value
                    .achievement__bottom
                      span.achievement__text SLA 
                .achievements__item
                  .achievement.--no-hover
                    .achievement__top
                      .achievement__icon.picture
                        span.achievement__icon-text.achievement__icon-text--svg
                          +svg('refresh')
                      .achievement__value
                    .achievement__bottom
                      span.achievement__text Внешние интеграции
            
        
        