.career-section {
  &:first-child {
    padding: 150px 0 50px;
    @include media-breakpoint-down(mobile) {
      padding-top: 130px;
      padding-bottom: 64px;
    }
  }
  padding: 25px 0;
  &__row {
    margin-top: 50px;
    
    @include media-breakpoint-down(mobile) {
      overflow: hidden;
      position: relative;
      margin-top: 38px;
    }
  }
  &__inner {
    max-width: 850px;
  }
  &__descr {
    line-height: 1.56;
    font-family: 'Roboto Condensed', sans-serif;
    .is-dark & {
      color: $gray;
    }
    @include media-breakpoint-down(mobile) {
      
    }
  }
}

.career-title {
  font-size: 64px;
  font-weight: 500;
  margin-left: -2px;
  @include media-breakpoint-down(mobile) {
    font-size: 44px;
  }
}

.jobs {
  &__inner {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(tablet) {
      display: block;
    }
  }
  &__left {
    padding-right: 107px;
    max-width: 950px;
    @include media-breakpoint-down(desktop) {
      padding-right: 12%;
    }
    @include media-breakpoint-down(tablet) {
      padding-right: 50px;
    }
    @include media-breakpoint-down(mobile) {
      padding-right: 0;
    }
  }
  &__right {
    padding-right: 5px;
    min-width: 200px;
    @include media-breakpoint-down(desktop) {
       min-width: initial;
    }
    .career-detail-content & {
      margin-top: -90px;
      @include media-breakpoint-down(desktop) {
        width: 350px;
      }
      @include media-breakpoint-down(tablet) {
        margin-top: 0;
      }
    }
  }
  &__subtitle {
    display: inline-block;
    width: 340px;
    font-size: 22px;
    font-weight: 500;
    margin-left: -1px;
    // white-space: nowrap;
    @include media-breakpoint-down(desktop) {
      display: inline;
      
      // white-space: initial;
    }
    .career-detail-content &{
      @include media-breakpoint-down(tablet){
        font-weight: 400;
      }
    }
  }
  &__mail {
    margin-top: 0px;
    &-contact {
      margin-top: 33px;
    }
    &-text {
      .is-dark & {
        color: $gray;
      }
    }
    &-link {
      color: $red;
    }
  }
  
}

.job {
  &__descr {
    line-height: 1.56;
    margin-top: 30px;
    @include media-breakpoint-down(mobile) {
      margin-top: 22px;
    }
    .is-dark & {
      color: $gray;
    }
    p {
      display: inline-block;
    }
  }
}
.career-detail-content{
  & .jobs__mail{
    margin-top: 100px;
    @include media-breakpoint-down(tablet){
      margin-top: 30px;
      & .jobs__mail-contact{
        margin-top: 20px;
      }
    }
  }
  & .career-detail__row{
    @include media-breakpoint-down(tablet){
      margin-top: 30px ;
    }
  }
  // & .jobs__mail{
  //   margin-top: 100px;
  // }
}



