.corp-portals-consultation {
    padding-top: 50px;
    padding-bottom: 50px;
    @include media-breakpoint-down(mobile) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &__form-wrapper {
        position: relative;
    }
    &__form {
        margin-top: 50px;
    }
}

.consultation-form {
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    @include media-breakpoint-down(tablet) {
        width: 100%;
    }
    &__fields {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    & .contact-form {
        &__row {
            max-width: calc(25% - 15px);
            width: 100%;
            margin-top: 0;
            @include media-breakpoint-down(mobile) {
                max-width: 100%;
            }
            &:not(:last-child) {
                margin-right: 20px;
                @include media-breakpoint-down(mobile) {
                    margin-right: 0;
                    margin-bottom: 40px;
                }
            }
            &--terms {
                max-width: 100%;
                &:nth-child(n) {
                    @include media-breakpoint-down(mobile) {
                        margin-bottom: 0;
                    }
                }
            }
        }
        &__field {
            margin-bottom: 0;
        }
        &__fill-line {
            height: 2px;
            top: calc(100% - 2px);
        }
    }
    & .button {
        font-family: 'Roboto Condensed', sans-serif;
    }
}