section.introduction.introduction--corp-portals
  .container
    .introduction__inner
      .introduction__title-box
        h1.title.page-title.page-title--corp-portals
          span.page-title__row
            span.triangle
              span.triangle__carousel
                span.triangle__text.triangle__text--1 Разработка 
                span.triangle__text.triangle__text--2 Внедрение 
                span.triangle__text.triangle__text--3 Поддержка 
            | корпоративных порталов
          span.page-title__row от ведущего аутсорс-продакшена России
        a.button.introduction__corp-portals-button.js-corp-consultation(href="#corp-portals-consultation") Оставить заявку
      .introduction__canvas
        //- canvas.corp-portals-canvas(width="520" height="520")