.cooperation {
  padding: 58px 0;
  @include media-breakpoint-down(mobile) {
    padding: 20px 0;
  }
  &__row {
    margin-top: 31px;
  }
}

.cooperation-picture {
  padding-top: 41.05%;
  @include media-breakpoint-down(mobile) {
    height: 300px;
  }
}